# SQL-2

## Setup the environment

In [48]:
pip install ipython-sql psycopg2

Requirement already satisfied: ipython-sql in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: psycopg2 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (2.9.10)
Requirement already satisfied: prettytable in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [49]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Refer to SQL-01.ipynb notebook for setting up the test database in PostgreSQL DB

In [50]:
%sql postgresql://postgres:070804@localhost:5432/testdb_1

# Set Operations in SQL (union/except/intersect and handling duplicates)

Recap: Consider R = {a, b, c} and S = {a, b, d, f}, then

$R \cap S = \{a, b\}$

$R \cup S = \{a,b,c,d,e,f\}$

$R - S = \{c\}$, and $S - R = \{d, f\}$

### In SQL,

```subquery``` INTERSECT ```subquery```

```subquery``` UNION ```subquery```

```subquery``` EXCEPT ```subquery```

**Q: Find actor_ids of actors that acted in both 'Hobbit Alien' and 'Sky Miracle' movie.**

In [5]:
%%sql select film_actor.actor_id 
from film_actor join film on film.film_id = film_actor.film_id where film.title = 'Hobbit Alien'
INTERSECT 
select film_actor.actor_id 
from film_actor join film on film.film_id = film_actor.film_id where film.title = 'Sky Miracle'

 * postgresql://postgres:***@localhost:5432/testdb_1
4 rows affected.

[(159,), (119,), (102,), (22,)]

**Q: Extend the above query to also find the name of the actor**

In [8]:
%%sql select film_actor.actor_id,actor.first_name,actor.last_name
from (film join film_actor on film.film_id = film_actor.film_id) join actor on film_actor.actor_id = actor.actor_id
where film.title = 'Hobbit Alien'
INTERSECT 
select film_actor.actor_id,actor.first_name,actor.last_name
from (film join film_actor on film.film_id = film_actor.film_id) join actor on film_actor.actor_id = actor.actor_id
where film.title = 'Sky Miracle'

 * postgresql://postgres:***@localhost:5432/testdb_1
4 rows affected.

[(159, 'Laura', 'Brody'),
 (102, 'Walter', 'Torn'),
 (119, 'Warren', 'Jackman'),
 (22, 'Elvis', 'Marx')]

**Q: Find actor_ids of actors that acted in either 'Hobbit Alien' or 'Sky Miracle' movie.**

In [10]:
%%sql select film_actor.actor_id 
from film_actor join film on film.film_id = film_actor.film_id where film.title = 'Hobbit Alien'
UNION 
select film_actor.actor_id 
from film_actor join film on film.film_id = film_actor.film_id where film.title = 'Sky Miracle'
limit 2;

 * postgresql://postgres:***@localhost:5432/testdb_1
2 rows affected.

[(92,), (159,)]

**Q: Extend the above query to also find the names of these actors.**

In [12]:
%%sql select film_actor.actor_id,actor.first_name,actor.last_name
from (film join film_actor on film.film_id = film_actor.film_id) join actor on film_actor.actor_id = actor.actor_id
where film.title = 'Hobbit Alien'
UNION
select film_actor.actor_id,actor.first_name,actor.last_name
from (film join film_actor on film.film_id = film_actor.film_id) join actor on film_actor.actor_id = actor.actor_id
where film.title = 'Sky Miracle'
limit 2;

 * postgresql://postgres:***@localhost:5432/testdb_1
2 rows affected.

[(82, 'Woody', 'Jolie'), (167, 'Laurence', 'Bullock')]

**Q: Retrieve actor ids of all actors that acted in 'Hobbit  Alien' but not in 'Sky Miracle'**

In [13]:
%%sql select film_actor.actor_id 
from film_actor join film on film.film_id = film_actor.film_id where film.title = 'Hobbit Alien'
EXCEPT
select film_actor.actor_id 
from film_actor join film on film.film_id = film_actor.film_id where film.title = 'Sky Miracle'

 * postgresql://postgres:***@localhost:5432/testdb_1
4 rows affected.

[(59,), (197,), (14,), (129,)]

### Note on set operations in SQL
 
- SQL eliminates duplicate tuples! 
- To use bag semantics (retain duplicates), we use the keyword ```ALL``` e.g, 
    - ```UNION ALL```
    - ```INTERSECT ALL```
    - ```EXCEPT ALL```

**Q: Try out the above queries using multiset semantics and compare results.**

In [14]:
%%sql select film_actor.actor_id 
from film_actor join film on film.film_id = film_actor.film_id where film.title = 'Hobbit Alien'
UNION ALL
select film_actor.actor_id 
from film_actor join film on film.film_id = film_actor.film_id where film.title = 'Sky Miracle'

 * postgresql://postgres:***@localhost:5432/testdb_1
20 rows affected.

[(14,),
 (22,),
 (59,),
 (102,),
 (119,),
 (129,),
 (159,),
 (197,),
 (22,),
 (31,),
 (82,),
 (92,),
 (102,),
 (119,),
 (154,),
 (157,),
 (159,),
 (167,),
 (176,),
 (190,)]

# Nested SQL Queries

* SQL provides a mechanism for the nesting of subqueries
* A **subquery** is a ```(SELECT-FROM-WHERE)``` statement, which can also be used as a value in ```FROM```, ```WHERE```, and ```SELECT``` clauses.
* Output of one query can be used as input to another
* **SQL is compositional**

Notes:
* Two types of nested queries
    1. Independent -- First inner query then outer query
    2. Corelated -- Inner query uses values from outer query (Slow!)

Nesting can be done in an SQL query
```
select A1, A2,...,An
from R1, R2,...,Rm
where P
```
as follows:
* **from clause:** $r_i$ can be replaved by any valid subquery
* **where clause:** $P$ can be replaced with an expression of the form:
    - $B$ \<operation\> (subquery)
    - *where B is an attribute and \<operation\> can be set comparison operator (see below for examples)*
* **select clause:** $A_i$ can be replaced by a subquery that generates a single value

**Q: Find title of all'PG' rated films that have length shorter than 50 minutes.**

In [15]:
%%sql select f.title 
from (select title, length from film where rating = 'PG') as f 
where f.length < 50;

 * postgresql://postgres:***@localhost:5432/testdb_1
7 rows affected.

[('Heaven Freedom',),
 ('Hurricane Affair',),
 ('Iron Moon',),
 ('Rush Goodfellas',),
 ('Pelican Comforts',),
 ('Shanghai Tycoon',),
 ('Suspects Quills',)]

**Q: Rewrite the above query by "unnesting" it.**

In [16]:
%%sql select f.title
from film as f
where f.rating = 'PG' and f.length < 50;

 * postgresql://postgres:***@localhost:5432/testdb_1
7 rows affected.

[('Heaven Freedom',),
 ('Hurricane Affair',),
 ('Iron Moon',),
 ('Rush Goodfellas',),
 ('Pelican Comforts',),
 ('Shanghai Tycoon',),
 ('Suspects Quills',)]

**Q: Find the average rental duration for film's ratings where the average rental duration is more than 5**

In [17]:
%%sql 
select f.rating, f.avg_rental_duration
from ( select rating, avg(rental_duration) as avg_rental_duration
    from film
    group by rating) f
where avg_rental_duration > 5

 * postgresql://postgres:***@localhost:5432/testdb_1
3 rows affected.

[('PG-13', Decimal('5.0538116591928251')),
 ('PG', Decimal('5.0824742268041237')),
 ('NC-17', Decimal('5.1428571428571429'))]

Q)using having clause do above task

In [18]:
%%sql
select f.rating, avg(f.rental_duration)
from film f
group by f.rating
having avg(f.rental_duration) > 5

 * postgresql://postgres:***@localhost:5432/testdb_1
3 rows affected.

[('PG-13', Decimal('5.0538116591928251')),
 ('PG', Decimal('5.0824742268041237')),
 ('NC-17', Decimal('5.1428571428571429'))]

## Set Membership

### ```IN``` Operator
* Specify multiple values in `where` clause
* Shorthand for multiple `OR`

**Q: Find all movie titles that have a running time of less than 100 minutes where the movie category is `Action'**

In [19]:
%%sql select f.title
from film f
where f.length < 100
and f.film_id IN (select fc.film_id
from film_category fc join category c on c.category_id = fc.category_id 
where c.name = 'Action')
limit 5;

 * postgresql://postgres:***@localhost:5432/testdb_1
5 rows affected.

[('Midnight Westward',),
 ('Devil Desire',),
 ('Dances None',),
 ('Rings Heartbreakers',),
 ('Berets Agent',)]

**Q: Find all movie titles that have a running time of less than 100 minutes where the movie not an `Action' movie**

In [21]:
%%sql select f.title
from film f
where f.length < 100
and f.film_id NOT IN (select fc.film_id
from film_category fc join category c on c.category_id = fc.category_id 
where c.name = 'Action')
limit 5;

 * postgresql://postgres:***@localhost:5432/testdb_1
5 rows affected.

[('Grosse Wonderful',),
 ('Airport Pollock',),
 ('Bright Encounters',),
 ('Academy Dinosaur',),
 ('Ace Goldfinger',)]

## Set Comparison

### ```EXISTS``` Operator (Set comparison)
* checks existence of any tuple in a subquery
* The exists construct returns the value **true** if the argument subquery is non-empty
    - EXISTS $r \iff r \neq \emptyset$
    - NOT EXISTS $r \iff r = \emptyset$

**Q: Find all movie titles that have a running time of less than 100 minutes where the movie category is `Action'**

* Note here that the subquery here is correlated subquery (variable $f$ is also used inside the subquery)

In [25]:
%%sql select f.title
from film f
where f.length < 100
and EXISTS (select *
    from film_category fc join category c on c.category_id = fc.category_id 
    where c.name = 'Action'
    and fc.film_id = f.film_id
    )
    limit 2

 * postgresql://postgres:***@localhost:5432/testdb_1
2 rows affected.

[('Ark Ridgemont',), ('Berets Agent',)]

**Q: Retrieve all actors who have only acted in movies with length greater than or equal to 100 minutes.**

In [23]:
%%sql select distinct actor.actor_id, actor.first_name, actor.last_name
from actor
join film_actor on actor.actor_id = film_actor.actor_id
and NOT EXISTS (
    select *
    from film f
    where f.film_id = film_actor.film_id
    and f.length < 100
)
limit 2;

 * postgresql://postgres:***@localhost:5432/testdb_1
2 rows affected.

[(185, 'Michael', 'Bolger'), (143, 'River', 'Dean')]

### `ANY` Operator (Set comparison)
* Compare with a range of values
* $F \text{<comp> ANY } r \iff \exists t \in r \text{ such that } (F \text{<comp>} t)$
    - where \<comp\> can be $<,\le,>,\ge,\neq$
* Examples
    - (10 < ANY (1, 12, 4)) = true
    - (10 < ANY (1, 6, 4)) = false
    - (10 = ANY (1, 12, 10)) = true
    - (10 $\neq$ ANY (1, 12, 10)) = true

**Q: Find all actors that have acted in some movie with length less than 100 minutes.**

In [27]:
%%sql select distinct actor.actor_id, actor.first_name, actor.last_name
from actor
join film_actor on actor.actor_id = film_actor.actor_id
where 100 > ANY (
    select length
    from film f
    where f.film_id = film_actor.film_id
)
limit 2;

 * postgresql://postgres:***@localhost:5432/testdb_1
2 rows affected.

[(1, 'Penelope', 'Guiness'), (2, 'Nick', 'Wahlberg')]

### `ALL` (Set comparison)
* like `ANY` but all values must meet the condition
* $F \text{<comp> ALL } r \iff \forall t \in r (F \text{<comp>} t)$
* Examples
    - (10 < ALL (1, 12, 4)) = false
    - (10 < ALL (11, 12, 14)) = true
    - (10 = ALL (1, 12, 10)) = false
    - (10 $\neq$ ALL (1, 12, 11)) = true

**Q: Retrieve all actors who have only acted in movies with length greater than or equal to 100 minutes.**

In [29]:
%%sql select distinct actor.actor_id, actor.first_name, actor.last_name
from actor
join film_actor on actor.actor_id = film_actor.actor_id
where 100 <= ALL (
    select f.length
    from film f
    where f.film_id = film_actor.film_id
)
limit 5;

 * postgresql://postgres:***@localhost:5432/testdb_1
5 rows affected.

[(1, 'Penelope', 'Guiness'),
 (2, 'Nick', 'Wahlberg'),
 (3, 'Ed', 'Chase'),
 (4, 'Jennifer', 'Davis'),
 (5, 'Johnny', 'Lollobrigida')]

# Exercises

**Q: Find names of all actors and customers.**
* Hint: use `union`

In [30]:
%%sql
select f.first_name,f.last_name
from actor as f
UNION
select c.first_name,c.last_name
from customer as c
LIMIT 1

 * postgresql://postgres:***@localhost:5432/testdb_1
1 rows affected.

[('Dolores', 'Wagner')]

**Q: Find all actors who share their names (first and last) with customers.**
* Hint: use `intersect`

In [27]:
%%sql
select f.first_name,f.last_name
from actor as f
INTERSECT
select c.first_name,c.last_name
from customer as c

 * postgresql://postgres:***@localhost:5432/testdb_1
1 rows affected.

[('Jennifer', 'Davis')]

**Q: Write a query to find all films that have the same rental rate as the film 'American Circus'.**
* Hint: use a nested subquery in `where` clause

In [33]:
%%sql
select film.title
from film
where film.rental_rate IN (
	select rental_rate
	from film
	where film.title = 'American Circus'
)
limit 5;

 * postgresql://postgres:***@localhost:5432/testdb_1
5 rows affected.

[('Chamber Italian',),
 ('Grosse Wonderful',),
 ('Airport Pollock',),
 ('Bright Encounters',),
 ('Ace Goldfinger',)]

**Q: Find the average rental duration for each film category, comparing it to the overall average duration.**

In [73]:
%%sql
select category.name,avg(film.rental_duration) as avg_rental_duration, (SELECT AVG(rental_duration) FROM film) AS overall_avg_duration
from category
join film_category on category.category_id = film_category.category_id join film on film.film_id = film_category.film_id
group by category.name

 * postgresql://postgres:***@localhost:5432/testdb_1
16 rows affected.

[('Family', Decimal('5.1739130434782609'), Decimal('4.9850000000000000')),
 ('Games', Decimal('5.0655737704918033'), Decimal('4.9850000000000000')),
 ('Animation', Decimal('4.8939393939393939'), Decimal('4.9850000000000000')),
 ('Classics', Decimal('5.0701754385964912'), Decimal('4.9850000000000000')),
 ('Documentary', Decimal('4.7647058823529412'), Decimal('4.9850000000000000')),
 ('New', Decimal('4.7460317460317460'), Decimal('4.9850000000000000')),
 ('Sports', Decimal('4.7162162162162162'), Decimal('4.9850000000000000')),
 ('Children', Decimal('5.0333333333333333'), Decimal('4.9850000000000000')),
 ('Music', Decimal('5.2352941176470588'), Decimal('4.9850000000000000')),
 ('Travel', Decimal('5.3508771929824561'), Decimal('4.9850000000000000')),
 ('Foreign', Decimal('5.1095890410958904'), Decimal('4.9850000000000000')),
 ('Drama', Decimal('5.0806451612903226'), Decimal('4.9850000000000000')),
 ('Horror', Decimal('4.8571428571428571'), Decimal('4.9850000000000000')),
 ('Action', Decimal('4.9531250000000000'), Decimal('4.9850000000000000')),
 ('Sci-Fi', Decimal('4.8852459016393443'), Decimal('4.9850000000000000')),
 ('Comedy', Decimal('4.9310344827586207'), Decimal('4.9850000000000000'))]

**Q: Find all customers (first_name and last_name) who have rented films in the same category as that of the film 'American Circus'.**
* Hint: use a correlated subquery

In [68]:
%%sql
select distinct customer.customer_id,customer.first_name,customer.last_name
from customer join rental on customer.customer_id=rental.customer_id join inventory on rental.inventory_id=inventory.inventory_id
where inventory.film_id IN(
select film.film_id
from (film join film_category on film.film_id = film_category.film_id)
where film_category.category_id IN (
	select film_category.category_id
	from (film join film_category on film.film_id = film_category.film_id)
	where film.title = 'American Circus'
))

 * postgresql://postgres:***@localhost:5432/testdb_1
510 rows affected.

[(101, 'Peggy', 'Myers'),
 (347, 'Ryan', 'Salisbury'),
 (336, 'Joshua', 'Mark'),
 (195, 'Vanessa', 'Sims'),
 (309, 'Christopher', 'Greco'),
 (563, 'Ken', 'Prewitt'),
 (571, 'Johnnie', 'Chisholm'),
 (205, 'Eileen', 'Carr'),
 (249, 'Dora', 'Medina'),
 (44, 'Marie', 'Turner'),
 (103, 'Gladys', 'Hamilton'),
 (596, 'Enrique', 'Forsythe'),
 (95, 'Paula', 'Bryant'),
 (368, 'Harry', 'Arce'),
 (559, 'Everett', 'Banda'),
 (85, 'Anne', 'Powell'),
 (590, 'Seth', 'Hannon'),
 (520, 'Mitchell', 'Westmoreland'),
 (523, 'Harvey', 'Guajardo'),
 (355, 'Terry', 'Grissom'),
 (145, 'Lucille', 'Holmes'),
 (127, 'Elaine', 'Stevens'),
 (300, 'John', 'Farnsworth'),
 (250, 'Jo', 'Fowler'),
 (456, 'Ronnie', 'Ricketts'),
 (29, 'Angela', 'Hernandez'),
 (260, 'Christy', 'Vargas'),
 (157, 'Darlene', 'Rose'),
 (154, 'Michele', 'Grant'),
 (325, 'Timothy', 'Bunn'),
 (100, 'Robin', 'Hayes'),
 (152, 'Alicia', 'Mills'),
 (594, 'Eduardo', 'Hiatt'),
 (511, 'Chester', 'Benner'),
 (413, 'Marvin', 'Yee'),
 (287, 'Becky', 'Miles'),
 (432, 'Edwin', 'Burk'),
 (86, 'Jacqueline', 'Long'),
 (595, 'Terrence', 'Gunderson'),
 (281, 'Leona', 'Obrien'),
 (220, 'Charlene', 'Alvarez'),
 (573, 'Byron', 'Box'),
 (331, 'Eric', 'Robert'),
 (324, 'Gary', 'Coy'),
 (24, 'Kimberly', 'Lee'),
 (361, 'Lawrence', 'Lawton'),
 (562, 'Wallace', 'Slone'),
 (295, 'Daisy', 'Bates'),
 (183, 'Ida', 'Andrews'),
 (427, 'Jesus', 'Mccartney'),
 (52, 'Julie', 'Sanchez'),
 (494, 'Ramon', 'Choate'),
 (545, 'Julio', 'Noland'),
 (216, 'Natalie', 'Meyer'),
 (462, 'Warren', 'Sherrod'),
 (104, 'Rita', 'Graham'),
 (491, 'Rick', 'Mattox'),
 (565, 'Jaime', 'Nettles'),
 (317, 'Edward', 'Baugh'),
 (173, 'Audrey', 'Ray'),
 (395, 'Johnny', 'Turpin'),
 (179, 'Dana', 'Hart'),
 (337, 'Jerry', 'Jordon'),
 (340, 'Patrick', 'Newsom'),
 (487, 'Hector', 'Poindexter'),
 (391, 'Clarence', 'Gamez'),
 (499, 'Marc', 'Outlaw'),
 (116, 'Victoria', 'Gibson'),
 (167, 'Sally', 'Pierce'),
 (394, 'Chris', 'Brothers'),
 (218, 'Vera', 'Mccoy'),
 (149, 'Valerie', 'Black'),
 (58, 'Jean', 'Bell'),
 (500, 'Reginald', 'Kinder'),
 (240, 'Marlene', 'Welch'),
 (252, 'Mattie', 'Hoffman'),
 (294, 'Shelly', 'Watts'),
 (156, 'Bertha', 'Ferguson'),
 (316, 'Steven', 'Curley'),
 (539, 'Mathew', 'Bolin'),
 (507, 'Edgar', 'Rhoads'),
 (171, 'Dolores', 'Wagner'),
 (374, 'Jeremy', 'Hurtado'),
 (283, 'Felicia', 'Sutton'),
 (199, 'Beth', 'Franklin'),
 (263, 'Hilda', 'Hopkins'),
 (113, 'Cindy', 'Fisher'),
 (360, 'Ralph', 'Madrigal'),
 (228, 'Allison', 'Stanley'),
 (478, 'Lewis', 'Lyman'),
 (136, 'Anita', 'Morales'),
 (351, 'Jack', 'Foust'),
 (401, 'Tony', 'Carranza'),
 (550, 'Guy', 'Brownlee'),
 (265, 'Jennie', 'Terry'),
 (560, 'Jordan', 'Archuleta'),
 (442, 'Leroy', 'Bustamante'),
 (130, 'Charlotte', 'Hunter'),
 (278, 'Billie', 'Horton'),
 (439, 'Alexander', 'Fennell'),
 (415, 'Glenn', 'Pullen'),
 (201, 'Vicki', 'Fields'),
 (517, 'Brad', 'Mccurdy'),
 (414, 'Vincent', 'Ralston'),
 (131, 'Monica', 'Hicks'),
 (42, 'Carolyn', 'Perez'),
 (68, 'Nicole', 'Peterson'),
 (451, 'Jim', 'Rea'),
 (89, 'Julia', 'Flores'),
 (98, 'Lillian', 'Griffin'),
 (40, 'Amanda', 'Carter'),
 (22, 'Laura', 'Rodriguez'),
 (277, 'Olga', 'Jimenez'),
 (193, 'Katie', 'Elliott'),
 (247, 'Stella', 'Moreno'),
 (409, 'Rodney', 'Moeller'),
 (146, 'Jamie', 'Rice'),
 (7, 'Maria', 'Miller'),
 (39, 'Debra', 'Nelson'),
 (160, 'Erin', 'Dunn'),
 (362, 'Nicholas', 'Barfield'),
 (225, 'Arlene', 'Harvey'),
 (532, 'Neil', 'Renner'),
 (386, 'Todd', 'Tan'),
 (181, 'Ana', 'Bradley'),
 (114, 'Grace', 'Ellis'),
 (445, 'Micheal', 'Forman'),
 (209, 'Tonya', 'Chapman'),
 (117, 'Edith', 'Mcdonald'),
 (327, 'Larry', 'Thrasher'),
 (566, 'Casey', 'Mena'),
 (258, 'Myrtle', 'Fleming'),
 (212, 'Wilma', 'Richards'),
 (504, 'Nathaniel', 'Adam'),
 (533, 'Jessie', 'Milam'),
 (172, 'Bernice', 'Willis'),
 (531, 'Jamie', 'Waugh'),
 (61, 'Katherine', 'Rivera'),
 (475, 'Pedro', 'Chestnut'),
 (444, 'Marcus', 'Hidalgo'),
 (339, 'Walter', 'Perryman'),
 (348, 'Roger', 'Quintanilla'),
 (580, 'Ross', 'Grey'),
 (143, 'Leslie', 'Gordon'),
 (437, 'Randall', 'Neumann'),
 (227, 'Colleen', 'Burton'),
 (139, 'Amber', 'Dixon'),
 (417, 'Travis', 'Estep'),
 (474, 'Dustin', 'Gillette'),
 (20, 'Sharon', 'Robinson'),
 (14, 'Betty', 'White'),
 (210, 'Ella', 'Oliver'),
 (320, 'Anthony', 'Schwab'),
 (483, 'Vernon', 'Chapa'),
 (289, 'Violet', 'Rodriquez'),
 (135, 'Juanita', 'Mason'),
 (26, 'Jessica', 'Hall'),
 (3, 'Linda', 'Williams'),
 (423, 'Alfred', 'Casillas'),
 (508, 'Milton', 'Howland'),
 (197, 'Sue', 'Peters'),
 (346, 'Arthur', 'Simpkins'),
 (123, 'Shannon', 'Freeman'),
 (28, 'Cynthia', 'Young'),
 (142, 'April', 'Burns'),
 (288, 'Bobbie', 'Craig'),
 (529, 'Erik', 'Guillen'),
 (319, 'Ronald', 'Weiner'),
 (49, 'Joyce', 'Edwards'),
 (62, 'Joan', 'Cooper'),
 (369, 'Fred', 'Wheat'),
 (30, 'Melissa', 'King'),
 (305, 'Richard', 'Mccrary'),
 (206, 'Terri', 'Vasquez'),
 (243, 'Lydia', 'Burke'),
 (470, 'Gordon', 'Allard'),
 (185, 'Roberta', 'Harper'),
 (472, 'Greg', 'Robins'),
 (215, 'Jessie', 'Banks'),
 (312, 'Mark', 'Rinehart'),
 (556, 'Armando', 'Gruber'),
 (1, 'Mary', 'Smith'),
 (256, 'Mabel', 'Holland'),
 (267, 'Margie', 'Wade'),
 (280, 'Tracey', 'Barrett'),
 (471, 'Dean', 'Sauer'),
 (274, 'Naomi', 'Jennings'),
 (120, 'Sylvia', 'Ortiz'),
 (36, 'Kathleen', 'Adams'),
 (43, 'Christine', 'Roberts'),
 (583, 'Marshall', 'Thorn'),
 (561, 'Ian', 'Still'),
 (109, 'Edna', 'West'),
 (515, 'Andre', 'Rapp'),
 (137, 'Rhonda', 'Kennedy'),
 (244, 'Viola', 'Hanson'),
 (454, 'Alex', 'Gresham'),
 (568, 'Alberto', 'Henning'),
 (452, 'Tom', 'Milner'),
 (467, 'Alvin', 'Deloach'),
 (370, 'Wayne', 'Truong'),
 (302, 'Michael', 'Silverman'),
 (17, 'Donna', 'Thompson'),
 (429, 'Frederick', 'Isbell'),
 (527, 'Cory', 'Meehan'),
 (10, 'Dorothy', 'Taylor'),
 (93, 'Phyllis', 'Foster'),
 (576, 'Morris', 'Mccarter'),
 (88, 'Bonnie', 'Hughes'),
 (211, 'Stacey', 'Montgomery'),
 (231, 'Georgia', 'Jacobs'),
 (207, 'Gertrude', 'Castillo'),
 (97, 'Annie', 'Russell'),
 (322, 'Jason', 'Morrissey'),
 (518, 'Gabriel', 'Harder'),
 (126, 'Ellen', 'Simpson'),
 (577, 'Clifton', 'Malcolm'),
 (555, 'Dwight', 'Lombardi'),
 (481, 'Herman', 'Devore'),
 (403, 'Mike', 'Way'),
 (431, 'Joel', 'Francisco'),
 (15, 'Helen', 'Harris'),
 (133, 'Pauline', 'Henry'),
 (405, 'Leonard', 'Schofield'),
 (458, 'Lloyd', 'Dowd'),
 (91, 'Lois', 'Butler'),
 (592, 'Terrance', 'Roush'),
 (230, 'Joy', 'George'),
 (443, 'Francisco', 'Skidmore'),
 (125, 'Ethel', 'Webb'),
 (251, 'Vickie', 'Brewer'),
 (106, 'Connie', 'Wallace'),
 (326, 'Jose', 'Andrew'),
 (282, 'Jenny', 'Castro'),
 (465, 'Floyd', 'Gandy'),
 (147, 'Joanne', 'Robertson'),
 (290, 'Kristina', 'Chambers'),
 (50, 'Diane', 'Collins'),
 (2, 'Patricia', 'Johnson'),
 (364, 'Benjamin', 'Varney'),
 (259, 'Lena', 'Jensen'),
 (180, 'Stacy', 'Cunningham'),
 (410, 'Curtis', 'Irby'),
 (254, 'Maxine', 'Silva'),
 (182, 'Renee', 'Lane'),
 (48, 'Ann', 'Evans'),
 (334, 'Raymond', 'Mcwhorter'),
 (366, 'Brandon', 'Huey'),
 (372, 'Steve', 'Mackenzie'),
 (411, 'Norman', 'Currier'),
 (311, 'Paul', 'Trout'),
 (12, 'Nancy', 'Thomas'),
 (354, 'Justin', 'Ngo'),
 (488, 'Shane', 'Millard'),
 (486, 'Glen', 'Talbert'),
 (519, 'Ron', 'Deluca'),
 (23, 'Sarah', 'Lewis'),
 (242, 'Glenda', 'Frazier'),
 (425, 'Francis', 'Sikes'),
 (383, 'Martin', 'Bales'),
 (67, 'Kelly', 'Torres'),
 (363, 'Roy', 'Whiting'),
 (60, 'Mildred', 'Bailey'),
 (419, 'Chad', 'Carbone'),
 (398, 'Antonio', 'Meek'),
 (448, 'Miguel', 'Betancourt'),
 (270, 'Leah', 'Curtis'),
 (538, 'Ted', 'Breaux'),
 (435, 'Ricky', 'Shelby'),
 (371, 'Billy', 'Poulin'),
 (155, 'Gail', 'Knight'),
 (77, 'Jane', 'Bennett'),
 (236, 'Marcia', 'Dean'),
 (332, 'Stephen', 'Qualls'),
 (378, 'Eugene', 'Culpepper'),
 (241, 'Heidi', 'Larson'),
 (349, 'Joe', 'Gilliland'),
 (284, 'Sonia', 'Gregory'),
 (27, 'Shirley', 'Allen'),
 (5, 'Elizabeth', 'Brown'),
 (581, 'Virgil', 'Wofford'),
 (546, 'Kelly', 'Knott'),
 (245, 'Courtney', 'Day'),
 (343, 'Douglas', 'Graf'),
 (115, 'Wendy', 'Harrison'),
 (502, 'Brett', 'Cornwell'),
 (402, 'Luis', 'Yanez'),
 (164, 'Joann', 'Gardner'),
 (56, 'Gloria', 'Cook'),
 (356, 'Gerald', 'Fultz'),
 (480, 'Corey', 'Hauser'),
 (482, 'Maurice', 'Crawley'),
 (184, 'Vivian', 'Ruiz'),
 (310, 'Daniel', 'Cabral'),
 (537, 'Clinton', 'Buford'),
 (506, 'Leslie', 'Seward'),
 (18, 'Carol', 'Garcia'),
 (190, 'Yolanda', 'Weaver'),
 (416, 'Jeffery', 'Pinson'),
 (266, 'Nora', 'Herrera'),
 (229, 'Tamara', 'Nguyen'),
 (314, 'George', 'Linton'),
 (459, 'Tommy', 'Collazo'),
 (535, 'Javier', 'Elrod'),
 (34, 'Rebecca', 'Scott'),
 (293, 'Mae', 'Fletcher'),
 (315, 'Kenneth', 'Gooden'),
 (237, 'Tanya', 'Gilbert'),
 (341, 'Peter', 'Menard'),
 (313, 'Donald', 'Mahon'),
 (379, 'Carlos', 'Coughlin'),
 (82, 'Kathryn', 'Coleman'),
 (296, 'Ramona', 'Hale'),
 (528, 'Claude', 'Herzog'),
 (168, 'Regina', 'Berry'),
 (588, 'Marion', 'Ocampo'),
 (549, 'Nelson', 'Christenson'),
 (118, 'Kim', 'Cruz'),
 (178, 'Marion', 'Snyder'),
 (522, 'Arnold', 'Havens'),
 (203, 'Tara', 'Ryan'),
 (382, 'Victor', 'Barkley'),
 (569, 'Dave', 'Gardiner'),
 (501, 'Ruben', 'Geary'),
 (55, 'Doris', 'Reed'),
 (593, 'Rene', 'Mcalister'),
 (589, 'Tracy', 'Herrmann'),
 (420, 'Jacob', 'Lance'),
 (579, 'Daryl', 'Larue'),
 (226, 'Maureen', 'Little'),
 (330, 'Scott', 'Shelley'),
 (376, 'Randy', 'Gaither'),
 (238, 'Nellie', 'Garrett'),
 (102, 'Crystal', 'Ford'),
 (176, 'June', 'Carroll'),
 (455, 'Jon', 'Wiles'),
 (323, 'Matthew', 'Mahan'),
 (144, 'Clara', 'Shaw'),
 (498, 'Gene', 'Sanborn'),
 (400, 'Bryan', 'Hardison'),
 (141, 'Debbie', 'Reyes'),
 (524, 'Jared', 'Ely'),
 (90, 'Ruby', 'Washington'),
 (534, 'Christian', 'Jung'),
 (585, 'Perry', 'Swafford'),
 (124, 'Sheila', 'Wells'),
 (45, 'Janet', 'Phillips'),
 (321, 'Kevin', 'Schuler'),
 (163, 'Cathy', 'Spencer'),
 (350, 'Juan', 'Fraley'),
 (393, 'Philip', 'Causey'),
 (512, 'Cecil', 'Vines'),
 (187, 'Brittany', 'Riley'),
 (584, 'Salvador', 'Teel'),
 (47, 'Frances', 'Parker'),
 (138, 'Hazel', 'Warren'),
 (64, 'Judith', 'Cox'),
 (262, 'Patsy', 'Davidson'),
 (108, 'Tracy', 'Cole'),
 (105, 'Dawn', 'Sullivan'),
 (540, 'Tyrone', 'Asher'),
 (87, 'Wanda', 'Patterson'),
 (196, 'Alma', 'Austin'),
 (503, 'Angel', 'Barclay'),
 (121, 'Josephine', 'Gomez'),
 (191, 'Jeanette', 'Greene'),
 (574, 'Julian', 'Vest'),
 (307, 'Joseph', 'Joy'),
 (159, 'Jill', 'Hawkins'),
 (148, 'Eleanor', 'Hunt'),
 (412, 'Allen', 'Butterfield'),
 (510, 'Ben', 'Easter'),
 (71, 'Kathy', 'James'),
 (63, 'Ashley', 'Richardson'),
 (75, 'Tammy', 'Sanders'),
 (318, 'Brian', 'Wyman'),
 (198, 'Elsie', 'Kelley'),
 (433, 'Don', 'Bone'),
 (438, 'Barry', 'Lovelace'),
 (111, 'Carmen', 'Owens'),
 (94, 'Norma', 'Gonzales'),
 (186, 'Holly', 'Fox'),
 (552, 'Hugh', 'Waldrop'),
 (233, 'Lillie', 'Kim'),
 (490, 'Sam', 'Mcduffie'),
 (140, 'Eva', 'Ramos'),
 (119, 'Sherry', 'Marshall'),
 (358, 'Samuel', 'Marlow'),
 (246, 'Marian', 'Mendoza'),
 (276, 'Brandy', 'Graves'),
 (513, 'Duane', 'Tubbs'),
 (328, 'Jeffrey', 'Spear'),
 (11, 'Lisa', 'Anderson'),
 (232, 'Constance', 'Reid'),
 (404, 'Stanley', 'Scroggins'),
 (73, 'Beverly', 'Brooks'),
 (13, 'Karen', 'Jackson'),
 (41, 'Stephanie', 'Mitchell'),
 (399, 'Danny', 'Isom'),
 (373, 'Louis', 'Leone'),
 (406, 'Nathan', 'Runyon'),
 (389, 'Alan', 'Kahn'),
 (222, 'Delores', 'Hansen'),
 (21, 'Michelle', 'Clark'),
 (128, 'Marjorie', 'Tucker'),
 (273, 'Priscilla', 'Lowe'),
 (381, 'Bobby', 'Boudreau'),
 (25, 'Deborah', 'Walker'),
 (223, 'Melinda', 'Fernandez'),
 (497, 'Gilbert', 'Sledge'),
 (457, 'Bill', 'Gavin'),
 (66, 'Janice', 'Ward'),
 (387, 'Jesse', 'Schilling'),
 (303, 'William', 'Satterfield'),
 (129, 'Carrie', 'Porter'),
 (516, 'Elmer', 'Noe'),
 (473, 'Jorge', 'Olivares'),
 (543, 'Lance', 'Pemberton'),
 (213, 'Gina', 'Williamson'),
 (575, 'Isaac', 'Oglesby'),
 (567, 'Alfredo', 'Mcadams'),
 (174, 'Yvonne', 'Watkins'),
 (436, 'Troy', 'Quigley'),
 (446, 'Theodore', 'Culp'),
 (424, 'Kyle', 'Spurlock'),
 (407, 'Dale', 'Ratcliff'),
 (477, 'Dan', 'Paine'),
 (441, 'Mario', 'Cheatham'),
 (352, 'Albert', 'Crouse'),
 (234, 'Claudia', 'Fuller'),
 (495, 'Charlie', 'Bess'),
 (297, 'Sherri', 'Rhodes'),
 (79, 'Rachel', 'Barnes'),
 (390, 'Shawn', 'Heaton'),
 (279, 'Dianne', 'Shelton'),
 (16, 'Sandra', 'Martin'),
 (162, 'Lauren', 'Hudson'),
 (384, 'Ernest', 'Stepp'),
 (208, 'Lucy', 'Wheeler'),
 (235, 'Jackie', 'Lynch'),
 (175, 'Annette', 'Olson'),
 (224, 'Pearl', 'Garza'),
 (587, 'Sergio', 'Stanfield'),
 (447, 'Clifford', 'Bowens'),
 (388, 'Craig', 'Morrell'),
 (468, 'Tim', 'Cary'),
 (285, 'Miriam', 'Mckinney'),
 (292, 'Misty', 'Lambert'),
 (484, 'Roberto', 'Vu'),
 (83, 'Louise', 'Jenkins'),
 (188, 'Melanie', 'Armstrong'),
 (599, 'Austin', 'Cintron'),
 (151, 'Megan', 'Palmer'),
 (257, 'Marsha', 'Douglas'),
 (69, 'Judy', 'Gray'),
 (65, 'Rose', 'Howard'),
 (582, 'Andy', 'Vanhorn'),
 (440, 'Bernard', 'Colby'),
 (553, 'Max', 'Pitt'),
 (375, 'Aaron', 'Selby'),
 (453, 'Calvin', 'Martel'),
 (150, 'Danielle', 'Daniels'),
 (460, 'Leon', 'Bostic'),
 (434, 'Eddie', 'Tomlin'),
 (269, 'Cassandra', 'Walters'),
 (72, 'Theresa', 'Watson'),
 (463, 'Darrell', 'Power'),
 (572, 'Sidney', 'Burleson'),
 (268, 'Nina', 'Soto'),
 (8, 'Susan', 'Wilson'),
 (57, 'Evelyn', 'Morgan'),
 (74, 'Denise', 'Kelly'),
 (526, 'Karl', 'Seal'),
 (338, 'Dennis', 'Gilman'),
 (153, 'Suzanne', 'Nichols'),
 (301, 'Robert', 'Baughman'),
 (380, 'Russell', 'Brinson'),
 (275, 'Carole', 'Barnett'),
 (6, 'Jennifer', 'Davis'),
 (450, 'Jay', 'Robb'),
 (428, 'Herbert', 'Kruger'),
 (46, 'Catherine', 'Campbell'),
 (426, 'Bradley', 'Motley'),
 (493, 'Brent', 'Harkins'),
 (35, 'Virginia', 'Green'),
 (367, 'Adam', 'Gooch'),
 (84, 'Sara', 'Perry'),
 (92, 'Tina', 'Simmons'),
 (51, 'Alice', 'Stewart'),
 (464, 'Jerome', 'Kenyon'),
 (385, 'Phillip', 'Holm'),
 (291, 'Toni', 'Holt'),
 (99, 'Emily', 'Diaz'),
 (177, 'Samantha', 'Duncan'),
 (214, 'Kristin', 'Johnston'),
 (298, 'Erika', 'Pena'),
 (306, 'Charles', 'Kowalski'),
 (304, 'David', 'Royal'),
 (514, 'Franklin', 'Troutman'),
 (194, 'Kristen', 'Chavez'),
 (239, 'Minnie', 'Romero'),
 (217, 'Agnes', 'Bishop'),
 (204, 'Rosemary', 'Schmidt'),
 (78, 'Lori', 'Wood'),
 (466, 'Leo', 'Ebert'),
 (598, 'Wade', 'Delvalle'),
 (200, 'Jeanne', 'Lawson'),
 (221, 'Bessie', 'Morrison'),
 (397, 'Jimmy', 'Schrader'),
 (4, 'Barbara', 'Jones')]