# SQL-5 

## Integrity  Constraints
### Handling referential integrity constraint violations
---

### Prepare the environment

In [ ]:
pip install ipython-sql psycopg2

In [ ]:
%load_ext sql

**Note** For this activity make sure to drop and create a new `cricdb` database. Run the following command from postgres commandline.

postgres# `drop database if exists cricdb;`

postgres# `create database cricdb;`

In [ ]:
%sql postgresql://postgres@localhost:5432/cricdb

In [ ]:
%sql drop table if exists team

In [ ]:
%%sql create table team (
    team_id integer,
    team_name varchar(50) not null,
    team_owner varchar(50) not null,
    primary key (team_id)
)

In [ ]:
%sql drop table if exists player

In [ ]:
%%sql create table player (
    player_id integer not null,
    first_name varchar(25) not null,
    last_name varchar(25) not null,
    dob date not null,
    team_id integer,
    primary key (player_id),
    unique(player_id, dob),
    check (dob > '1980-01-31'),
    foreign key (team_id) references team (team_id)
)

In [ ]:
%%sql insert into team values
    (101, 'Mumbai Indians', 'Reliance Industry Ltd'),
    (102, 'Chennai Super Kings', 'India Cements Ltd'),
    (103, 'Delhi Capitals', 'JSW Sports')
    ;

In [ ]:
%%sql insert into player values
    (1, 'Hardik', 'Pandya', '1993-10-11', 101),
    (2, 'MS', 'Dhoni', '1981-07-07', 102),
    (3, 'Rohit', 'Sharma', '1987-04-30', 101),
    (4, 'Ruturaj', 'Gaikwad', '1997-01-31', 102);

In [ ]:
%sql select * from team

In [ ]:
%sql select * from player

**Note:** Observe the behaviour when deleting tuples from the `team` table

In [ ]:
%sql delete from team where team_id = 102;

In [ ]:
%sql delete from team where team_id = 103;

**Note** The above scenarios illustrate the default behaviour when having a referential integrity  constraint.

---

### No action/Set null

In [ ]:
%sql drop table if exists player

In [ ]:
%sql drop table if exists team

In [ ]:
%%sql create table team (
    team_id integer,
    team_name varchar(50) not null,
    team_owner varchar(50) not null,
    primary key (team_id)
)

In [ ]:
%%sql create table player (
    player_id integer not null,
    first_name varchar(25) not null,
    last_name varchar(25) not null,
    dob date not null,
    team_id integer,
    primary key (player_id),
    unique(player_id, dob),
    check (dob > '1980-01-31'),
    foreign key (team_id) references team (team_id) 
    on delete set null
)

In [ ]:
%%sql insert into team values
    (101, 'Mumbai Indians', 'Reliance Industry Ltd'),
    (102, 'Chennai Super Kings', 'India Cements Ltd'),
    (103, 'Delhi Capitals', 'JSW Sports')
    ;

In [ ]:
%%sql insert into player values
    (1, 'Hardik', 'Pandya', '1993-10-11', 101),
    (2, 'MS', 'Dhoni', '1981-07-07', 102),
    (3, 'Rohit', 'Sharma', '1987-04-30', 101),
    (4, 'Ruturaj', 'Gaikwad', '1997-01-31', 102);

In [ ]:
%sql select * from team

In [ ]:
%sql select * from player

In [ ]:
%sql delete from team where team_id = 102;

In [ ]:
%sql select * from player

---
### CASCADE

In [ ]:
%sql drop table if exists player

In [ ]:
%sql drop table if exists team

In [ ]:
%%sql create table team (
    team_id integer,
    team_name varchar(50) not null,
    team_owner varchar(50) not null,
    primary key (team_id)
)

In [ ]:
%%sql create table player (
    player_id integer not null,
    first_name varchar(25) not null,
    last_name varchar(25) not null,
    dob date not null,
    team_id integer,
    primary key (player_id),
    unique(player_id, dob),
    check (dob > '1980-01-31'),
    foreign key (team_id) references team (team_id) 
    on delete cascade
)

In [ ]:
%sql delete from team where team_id = 102;

In [ ]:
%sql select * from player

In [ ]:
%sql select * from team

**Exercise** Try cascading update or delete that cannot be handled. When can this happen? (hint: recall the `new_category` relation that we created earlier)

---
### Set Default

In [ ]:
%sql drop table if exists player

In [ ]:
%sql drop table if exists team

In [ ]:
%%sql create table team (
    team_id integer,
    team_name varchar(50) not null,
    team_owner varchar(50) not null,
    primary key (team_id)
)

In [ ]:
%%sql create table player (
    player_id integer not null,
    first_name varchar(25) not null,
    last_name varchar(25) not null,
    dob date not null,
    team_id integer DEFAULT 101,
    primary key (player_id),
    unique(player_id, dob),
    check (dob > '1980-01-31'),
    foreign key (team_id) references team (team_id) 
    on delete set default
)

In [ ]:
%%sql insert into team values
    (101, 'Mumbai Indians', 'Reliance Industry Ltd'),
    (102, 'Chennai Super Kings', 'India Cements Ltd'),
    (103, 'Delhi Capitals', 'JSW Sports')
    ;

In [ ]:
%%sql insert into player values
    (1, 'Hardik', 'Pandya', '1993-10-11', 101),
    (2, 'MS', 'Dhoni', '1981-07-07', 102),
    (3, 'Rohit', 'Sharma', '1987-04-30', 101),
    (4, 'Ruturaj', 'Gaikwad', '1997-01-31', 102);

In [ ]:
%sql select * from player

In [ ]:
%sql select * from team

In [ ]:
%sql delete from team where team_id = 102;

In [ ]:
%sql select * from player

In [ ]:
%sql select * from team

---
### Drop table

In [ ]:
%sql drop table if exists team

In [ ]:
%sql drop table if exists team cascade

In [ ]:
%sql select * from player

Q: What is the schema of the relation `player`?

`cricdb# \d player;`