In [3]:
!pip install ipython-sql psycopg2

Requirement already satisfied: ipython-sql in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: psycopg2 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (2.9.10)
Requirement already satisfied: prettytable in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [4]:
%load_ext sql

``` psql -U postgres```
``` postgres=# create database ass1_db_v1;```
``` postgres=# exit```
``` psql -U postgres -W -d ass1_db_v1 -f db_updated.sql```

In [5]:
%sql postgresql://postgres:070804@localhost:5432/ass1_db_v1

**Basic q1**

In [11]:
%%sql select subject_id
from hosp.patients
where anchor_age>89 and gender='F'
order by subject_id

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
2 rows affected.

[(10012853,), (10020640,)]

**Basic q2**

In [24]:
%%sql select count(distinct subject_id), substring(admittime,1,4) as year
from hosp.admissions
group by year
order by count desc
limit 5;

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
5 rows affected.

[(7, '2148'), (7, '2137'), (4, '2113'), (4, '2115'), (4, '2129')]

**Basic q3**

**doesn't fit what sir said**

In [ ]:
%%sql select hadm_id,gender,TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS')-TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS') as duration
from hosp.admissions join hosp.patients on hosp.admissions.subject_id=hosp.patients.subject_id--why the hell i joined the tables, check the question again...
where dischtime is not null
order by duration,hadm_id

**fits what sir said, not crrt as per piazza**

In [ ]:
%%sql
select 
    hadm_id,
    gender,
    case
        when extract(day from (TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) = 1 THEN
            '1 days, ' || TO_CHAR((TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS')), 'HH24:MI:SS')
        when extract(day from (TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) < 1 THEN
            '0 days, ' || TO_CHAR((TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS')), 'HH24:MI:SS')
        else
            extract(day FROM (TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) || ' days, ' || TO_CHAR((TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS')), 'HH24:MI:SS')
    end as duration
from hosp.admissions join hosp.patients on hosp.admissions.subject_id=hosp.patients.subject_id
where dischtime is not null
order by duration,hadm_id

**Basic q4**

In [ ]:
%%sql select enter_provider_id,count(distinct medication) as count
from hosp.emar
where enter_provider_id is not null
group by enter_provider_id
order by count desc

**Basic q5**

In [ ]:
%%sql select *
from hosp.admissions
where marital_status<>'MARRIED'

In [ ]:
%%sql select reason_for_no_barcode
from hosp.emar_detail
where reason_for_no_barcode = 'Barcode Damaged'
limit 5;

In [9]:
%%sql select count(distinct hosp.admissions.hadm_id)
from hosp.admissions join hosp.emar on hosp.admissions.hadm_id=hosp.emar.hadm_id join hosp.emar_detail on hosp.emar.emar_id=hosp.emar_detail.emar_id
where reason_for_no_barcode='Barcode Damaged' and marital_status<>'MARRIED'

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
1 rows affected.

[(53,)]

**Basic q6**

In [ ]:
%%sql select hosp.patients.subject_id,count(*)
from icu.icustays right outer join hosp.patients on icu.icustays.subject_id=hosp.patients.subject_id
group by hosp.patients.subject_id
order by count,hosp.patients.subject_id

**Basic q7**

In [ ]:
%%sql select hosp.patients.subject_id,max(hadm_id) as latest_hadm_id,dod
from hosp.patients join hosp.admissions on hosp.patients.subject_id=hosp.admissions.subject_id
where dod is not null
group by hosp.patients.subject_id,dod
order by subject_id

**Basic q8**

In [ ]:
%%sql select distinct pharmacy_id
from hosp.pharmacy

In [ ]:
%%sql select distinct pharmacy_id
from hosp.prescriptions

In [ ]:
%%sql 
select pharmacy_id
from (
	select distinct pharmacy_id /*here distinct not needed*/
	from hosp.pharmacy
	except
	select distinct pharmacy_id /*here distinct needed*/
	from hosp.prescriptions
) as a
order by pharmacy_id

**Basic q9**

In [ ]:
%%sql select distinct icd_code,icd_version
from hosp.diagnoses_icd

In [ ]:
%%sql select distinct icd_code,icd_version
from hosp.procedures_icd

In [35]:
%%sql
select icd_code,icd_version
from (
	select distinct icd_code,icd_version /*here distinct needed*/
	from hosp.diagnoses_icd
	intersect
	select distinct icd_code,icd_version /*here distinct needed*/
	from hosp.procedures_icd
) as a
order by icd_code,icd_version

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
2 rows affected.

[('5187', 9), ('9962', 9)]

**Basic q10**

In [ ]:
%%sql
select hcpcs_cd,short_description
from hosp.hcpcsevents
where short_description ILIKE '%Hospital observation%'-- short description has 'Hospital observation' as substring (case-insensitive)
order by hcpcs_cd,short_description

**Intermediate q1**

**method-1**

In [ ]:
%%sql
select o.subject_id,o.hadm_id,i.dod
from hosp.admissions as o
join(
	select hosp.patients.subject_id,min(hosp.admissions.admittime) as earliest_admittime,hosp.patients.dod
	from hosp.patients
	join hosp.admissions on hosp.patients.subject_id=hosp.admissions.subject_id
	where dod is not null
	group by hosp.patients.subject_id,hosp.patients.dod
) as i
on o.subject_id=i.subject_id and o.admittime=i.earliest_admittime
order by o.subject_id

**method-2**

In [ ]:
%%sql
select distinct on (hosp.patients.subject_id) hosp.patients.subject_id,hosp.admissions.hadm_id,hosp.patients.dod
from hosp.patients
join hosp.admissions on hosp.patients.subject_id=hosp.admissions.subject_id
where dod is not null
order by hosp.patients.subject_id,hosp.admissions.admittime

**Intermediate q2**

In [63]:
%%sql
select DATE_TRUNC('second',AVG(TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS')-TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) as avg_duration --date trunc was used to remove  decimal precision in seconds
from hosp.admissions join hosp.patients on hosp.admissions.subject_id=hosp.patients.subject_id
where dischtime is not null and 
hosp.admissions.subject_id in (
	select subject_id
	from hosp.diagnoses_icd
	where icd_code='4019' and icd_version='9'
)

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
1 rows affected.

[(datetime.timedelta(days=7, seconds=41603),)]

**Intermediate q3**

In [ ]:
%%sql
select caregiver_id,count(*)
from icu.chartevents
where caregiver_id is not null
group by caregiver_id

In [ ]:
%%sql
select caregiver_id,count(*)
from icu.datetimeevents
where caregiver_id is not null
group by caregiver_id

In [ ]:
%%sql
select caregiver_id,count(*)
from icu.procedureevents
where caregiver_id is not null
group by caregiver_id

In [ ]:
%%sql
with pe as (
	select caregiver_id,count(*)
	from icu.procedureevents
	where caregiver_id is not null
	group by caregiver_id
)
,ce as (
	select caregiver_id,count(*)
	from icu.chartevents
	where caregiver_id is not null
	group by caregiver_id
)
,dte as (
	select caregiver_id,count(*)
	from icu.datetimeevents
	where caregiver_id is not null
	group by caregiver_id
)
select icu.caregiver.caregiver_id,COALESCE(pe.count,0) as procedureevents_count,COALESCE(ce.count,0) as chartevents_count,COALESCE(dte.count,0) as datetimeevents_count
from icu.caregiver left outer join pe on icu.caregiver.caregiver_id=pe.caregiver_id left outer join dte on icu.caregiver.caregiver_id=dte.caregiver_id left outer join ce on icu.caregiver.caregiver_id=ce.caregiver_id
order by icu.caregiver.caregiver_id,procedureevents_count,chartevents_count,datetimeevents_count

**Intermediate q4**

In [104]:
%%sql
select hosp.diagnoses_icd.subject_id,count(distinct hosp.admissions.hadm_id) as count_admissions,substring(admittime,1,4) as year
from hosp.d_icd_diagnoses join hosp.diagnoses_icd on hosp.d_icd_diagnoses.icd_code=hosp.diagnoses_icd.icd_code and hosp.d_icd_diagnoses.icd_version=hosp.diagnoses_icd.icd_version join hosp.admissions on hosp.diagnoses_icd.hadm_id=hosp.admissions.hadm_id
where long_title ILIKE '%infection%'
group by hosp.diagnoses_icd.subject_id,year
having count(distinct hosp.admissions.hadm_id)>1
order by year,count_admissions desc

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
16 rows affected.

[(10035631, 3, '2112'),
 (10021487, 4, '2117'),
 (10018081, 2, '2134'),
 (10003400, 2, '2137'),
 (10005866, 4, '2149'),
 (10019003, 3, '2155'),
 (10002428, 3, '2156'),
 (10001217, 2, '2157'),
 (10015931, 2, '2176'),
 (10037928, 2, '2178'),
 (10016742, 2, '2178'),
 (10037928, 2, '2179'),
 (10000032, 3, '2180'),
 (10015860, 2, '2192'),
 (10002930, 2, '2193'),
 (10002930, 3, '2197')]

**Intermediate q5**

In [112]:
%%sql
select hosp.admissions.subject_id,hosp.admissions.hadm_id
from hosp.admissions
where admission_type='URGENT' and hospital_expire_flag=1

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
5 rows affected.

[(10006053, 22942076),
 (10038081, 20755971),
 (10015931, 22130791),
 (10003400, 23559586),
 (10037975, 27617929)]

In [111]:
%%sql
select hosp.admissions.subject_id,hosp.admissions.hadm_id,count(*) as count_procedures
from hosp.admissions left outer join hosp.procedures_icd on hosp.admissions.hadm_id=hosp.procedures_icd.hadm_id
where admission_type='URGENT' and hospital_expire_flag=1
group by hosp.admissions.subject_id,hosp.admissions.hadm_id

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
5 rows affected.

[(10003400, 23559586, 12),
 (10006053, 22942076, 3),
 (10015931, 22130791, 9),
 (10037975, 27617929, 3),
 (10038081, 20755971, 9)]

In [114]:
%%sql
with proc_t as (
	select subject_id,hadm_id,count(*) as count_procedures
	from hosp.procedures_icd
	group by subject_id,hadm_id
)
, diag_t as (
	select subject_id,hadm_id,count(*) as count_diagnoses
	from hosp.diagnoses_icd
	group by subject_id,hadm_id
)
select hosp.admissions.subject_id,hosp.admissions.hadm_id,count_procedures,count_diagnoses
from hosp.admissions left outer join proc_t on hosp.admissions.hadm_id=proc_t.hadm_id left outer join diag_t on hosp.admissions.hadm_id=diag_t.hadm_id
where admission_type='URGENT' and hospital_expire_flag=1
order by subject_id,hadm_id,count_procedures desc,count_diagnoses desc

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
5 rows affected.

[(10003400, 23559586, 12, 38),
 (10006053, 22942076, 3, 10),
 (10015931, 22130791, 9, 23),
 (10037975, 27617929, 3, 22),
 (10038081, 20755971, 9, 38)]

**Intermediate q6**

In [145]:
%%sql
select subject_id,avg(result_value::FLOAT) as avg_BMI
from hosp.omr
where result_name='BMI (kg/m2)'
group by subject_id

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
62 rows affected.

[(10011398, 24.779999999999998),
 (10004457, 23.685714285714283),
 (10003046, 24.900000000000002),
 (10003400, 33.06666666666667),
 (10038999, 33.4),
 (10018328, 23.0),
 (10038992, 31.9),
 (10021118, 35.2),
 (10019003, 28.4495238095238),
 (10014729, 24.942857142857143),
 (10002428, 19.742857142857144),
 (10025612, 28.04),
 (10004720, 21.25),
 (10037861, 33.3),
 (10005817, 30.5),
 (10010867, 33.05),
 (10005348, 20.8),
 (10021312, 31.55),
 (10027445, 41.46666666666667),
 (10002495, 25.8),
 (10020740, 27.433333333333334),
 (10026406, 23.9),
 (10019917, 25.0),
 (10004733, 31.1),
 (10026255, 26.933333333333334),
 (10039708, 27.540000000000003),
 (10005866, 22.458333333333332),
 (10016150, 27.5),
 (10024043, 19.985714285714284),
 (10012853, 686.8999999999999),
 (10005909, 34.525000000000006),
 (10020306, 29.69701492537315),
 (10023117, 27.166666666666668),
 (10023239, 27.427777777777777),
 (10027602, 23.33333333333333),
 (10015860, 26.6),
 (10039997, 32.68),
 (10009049, 22.7),
 (10017492, 17.95),
 (10019385, 23.65),
 (10007058, 24.66),
 (10001725, 29.757407407407406),
 (10040025, 33.93000000000001),
 (10018501, 30.9),
 (10038081, 25.6),
 (10035631, 24.939130434782605),
 (10002930, 29.0),
 (10000032, 18.5375),
 (10015272, 19.5),
 (10018423, 37.8),
 (10001217, 24.3),
 (10015931, 21.245454545454546),
 (10022880, 28.333333333333332),
 (10018081, 27.1),
 (10021487, 29.7),
 (10037928, 24.648437499999996),
 (10007818, 25.9),
 (10014354, 36.698936170212775),
 (10035185, 32.3),
 (10010471, 26.0),
 (10004235, 33.95),
 (10007795, 25.255555555555556)]

In [131]:
%%sql
select *
from hosp.prescriptions
where drug LIKE '%OxyCODONE (Immediate Release)%'

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
120 rows affected.

[(10014354, 27487226, 641743, '10014354-1333', 1333.0, 'P12U03', '2148-07-01 22:00:00', '2148-07-01 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10014354, 22508257, 91752192, '10014354-879', 879.0, 'P84KZN', '2148-05-11 04:00:00', '2148-05-11 11:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10039708, 25864431, 1828757, '10039708-1536', 1536.0, 'P586SU', '2142-04-03 19:00:00', '2142-04-12 01:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10014354, 27487226, 2417061, '10014354-1284', 1284.0, 'P223T0', '2148-06-30 12:00:00', '2148-07-01 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10015860, 24698912, 68725356, '10015860-1225', 1225.0, 'P535IK', '2192-05-19 18:00:00', '2192-05-20 08:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10005817, 28661809, 57582600, '10005817-710', 710.0, 'P67Z5X', '2135-01-04 10:00:00', '2135-01-19 14:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO'),
 (10014354, 29600294, 23480192, '10014354-2109', 2109.0, 'P586SU', '2148-08-16 12:00:00', '2148-08-18 08:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10040025, 27259207, 85379853, '10040025-887', 887.0, 'P63ZJX', '2147-12-15 08:00:00', '2147-12-17 04:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10020187, 24104168, 66361728, '10020187-170', 170.0, 'P64EEO', '2169-01-21 11:00:00', '2169-01-24 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10014354, 29780751, 62414651, '10014354-728', 728.0, 'P146T2', '2147-11-26 04:00:00', '2147-11-30 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10014354, 29600294, 42310501, '10014354-1911', 1911.0, 'P84KZN', '2148-08-15 07:00:00', '2148-08-15 08:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10014354, 27562275, 2099279, '10014354-1764', 1764.0, 'P11AU2', '2148-07-18 07:00:00', '2148-07-18 19:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10035631, 21476294, 2081399, '10035631-832', 832.0, 'P25YV8', '2115-11-09 03:00:00', '2115-11-09 20:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10040025, 27996267, 34223675, '10040025-1822', 1822.0, 'P337L8', '2148-01-29 17:00:00', '2148-01-30 16:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10019003, 25508812, 22208069, '10019003-950', 950.0, 'P186PU', '2155-05-24 21:00:00', '2155-05-25 20:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10005909, 20199380, 71725429, '10005909-30', 30.0, 'P39IN0', '2144-10-29 03:00:00', '2144-10-29 23:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10035631, 21476294, 49598324, '10035631-907', 907.0, 'P25YV8', '2115-11-10 22:00:00', '2115-11-11 00:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 4.0, 'PO/NG'),
 (10040025, 27259207, 72787885, '10040025-902', 902.0, 'P63ZJX', '2147-12-17 11:00:00', '2147-12-18 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10005866, 20364112, 35155865, '10005866-1149', 1149.0, 'P15BR1', '2149-10-17 12:00:00', '2149-10-17 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10014354, 29600294, 95566484, '10014354-2142', 2142.0, 'P84KZN', '2148-08-17 23:00:00', '2148-08-19 02:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10014354, 24357615, 5966566, '10014354-3288', 3288.0, 'P511RT', '2150-05-10 12:00:00', '2150-05-10 20:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10019003, 25508812, 52428123, '10019003-942', 942.0, 'P38YNF', '2155-05-24 16:00:00', '2155-05-30 20:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10015860, 22413744, 93220488, '10015860-790', 790.0, 'P89FRF', '2191-01-15 06:00:00', '2191-01-30 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10019003, 26226543, 15401666, '10019003-1412', 1412.0, 'P95GFA', '2155-10-17 21:00:00', '2155-10-22 08:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10019003, 26226543, 47666990, '10019003-1508', 1508.0, 'P122CQ', '2155-10-22 09:00:00', '2155-11-03 23:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10035631, 21476294, 21107434, '10035631-910', 910.0, 'P25YV8', '2115-11-11 01:00:00', '2115-11-11 12:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10014354, 29600294, 541317, '10014354-1929', 1929.0, 'P01WHP', '2148-08-15 09:00:00', '2148-08-15 15:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10014354, 27562275, 87288538, '10014354-1817', 1817.0, 'P22V04', '2148-07-18 20:00:00', '2148-07-20 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10035631, 21476294, 5806342, '10035631-949', 949.0, 'P07TNI', '2115-11-13 14:00:00', '2115-12-08 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10014354, 27487226, 49060737, '10014354-1242', 1242.0, 'P74WLQ', '2148-06-30 04:00:00', '2148-06-30 10:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10014354, 22508257, 3538585, '10014354-1010', 1010.0, 'P76OWC', '2148-05-18 12:00:00', '2148-05-19 07:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10014354, 22508257, 75254465, '10014354-999', 999.0, 'P76OWC', '2148-05-17 17:00:00', '2148-05-18 09:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10040025, 27259207, 848801, '10040025-827', 827.0, 'P71AWK', '2147-12-05 05:00:00', '2147-12-05 11:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10040025, 25933959, 10742037, '10040025-954', 954.0, 'P71AWK', '2147-12-29 21:00:00', '2147-12-29 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10040025, 27259207, 21637124, '10040025-913', 913.0, 'P63ZJX', '2147-12-17 15:00:00', '2147-12-18 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10038999, 29026789, 27305269, '10038999-371', 371.0, 'P81KJG', '2132-05-18 02:00:00', '2132-05-20 06:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO'),
 (10019003, 25508812, 9366172, '10019003-951', 951.0, 'P38YNF', '2155-05-25 09:00:00', '2155-05-26 16:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10040025, 27259207, 37486596, '10040025-898', 898.0, 'P814EU', '2147-12-17 02:00:00', '2147-12-17 04:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', 1.0, 'PO/NG'),
 (10035631, 21476294, 44336322, '10035631-831', 831.0, 'P7104P', '2115-11-08 20:00:00', '2115-11-10 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10014354, 29600294, 81509022, '10014354-1995', 1995.0, 'P01WHP', '2148-08-15 16:00:00', '2148-08-16 11:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5', 'mg', '1', 'TAB', None, 'PO/NG'),
 (10040025, 27996267, 35931751, '10040025-1822', 1822.0, 'P337L8', '2148-01-29 17:00:00', '2148-01-30 16:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 66689040150.0, '5mg/5mL Cup', None, '5', 'mg', '1', 'UDCUP', 1.0, 'PO/NG'),
 (10005817, 28661809, 96967077, '10005817-710', 710.0, 'P67Z5X', '2135-01-04 10:00:00', '2135-01-19 14:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 66689040150.0, '5mg/5mL Cup', None, '5', 'mg', '1', 'UDCUP', None, 'NG'),
 (10015860, 24698912, 40634158, '10015860-1225', 1225.0, 'P535IK', '2192-05-19 18:00:00', '2192-05-20 08:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 121483940.0, '5mg/5mL Cup', None, '5', 'mg', '1', 'UDCUP', 1.0, 'PO/NG'),
 (10040025, 27259207, 17067791, '10040025-902', 902.0, 'P63ZJX', '2147-12-17 11:00:00', '2147-12-18 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 66689040150.0, '5mg/5mL Cup', None, '5', 'mg', '1', 'UDCUP', None, 'PO/NG'),
 (10040025, 27259207, 93077538, '10040025-913', 913.0, 'P63ZJX', '2147-12-17 15:00:00', '2147-12-18 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 66689040150.0, '5mg/5mL Cup', None, '5', 'mg', '1', 'UDCUP', 1.0, 'PO/NG'),
 (10005866, 23514107, 707709, '10005866-475', 475.0, 'P14SPN', '2149-06-21 18:00:00', '2149-06-21 19:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO/NG'),
 (10005866, 21636229, 65263624, '10005866-669', 669.0, 'P73QIY', '2149-09-20 17:00:00', '2149-09-25 16:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO/NG'),
 (10005866, 22589518, 21674192, '10005866-401', 401.0, 'P65M33', '2149-02-12 02:00:00', '2149-02-14 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO/NG'),
 (10005866, 20364112, 76142216, '10005866-1228', 1228.0, 'P11AU2', '2149-10-25 11:00:00', '2149-10-25 10:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO/NG'),
 (10040025, 27876215, 1488536, '10040025-660', 660.0, 'P70MNP', '2147-11-09 12:00:00', '2147-11-13 10:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO/NG'),
 (10040025, 25933959, 26260193, '10040025-1006', 1006.0, 'P71AWK', '2147-12-29 22:00:00', '2147-12-31 11:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO/NG'),
 (10040025, 27876215, 53526064, '10040025-733', 733.0, 'P70MNP', '2147-11-13 11:00:00', '2147-11-14 23:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO/NG'),
 (10040025, 21791856, 35282867, '10040025-498', 498.0, 'P526ON', '2147-06-21 14:00:00', '2147-06-22 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO'),
 (10040025, 21791856, 37894364, '10040025-480', 480.0, 'P57RQN', '2147-06-18 20:00:00', '2147-06-21 13:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO/NG'),
 (10040025, 27259207, 8462597, '10040025-901', 901.0, 'P814EU', '2147-12-17 05:00:00', '2147-12-18 04:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', 1.0, 'PO/NG'),
 (10005866, 26134779, 86049296, '10005866-609', 609.0, 'P73QIY', '2149-09-18 13:00:00', '2149-09-19 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO/NG'),
 (10040025, 22251969, 46340168, '10040025-560', 560.0, 'P529AR', '2147-08-03 05:00:00', '2147-08-06 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '10', 'mg', '2', 'TAB', None, 'PO/NG'),
 (10005866, 20364112, 54261789, '10005866-1230', 1230.0, 'P11AU2', '2149-10-25 11:00:00', '2149-10-25 23:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 121483940.0, '5mg/5mL Cup', None, '10', 'mg', '2', 'UDCUP', None, 'PO/NG'),
 (10040025, 27876215, 37957253, '10040025-660', 660.0, 'P70MNP', '2147-11-09 12:00:00', '2147-11-13 10:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 66689040150.0, '5mg/5mL Cup', None, '10', 'mg', '2', 'UDCUP', None, 'PO/NG'),
 (10040025, 27876215, 15549955, '10040025-733', 733.0, 'P70MNP', '2147-11-13 11:00:00', '2147-11-14 23:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 66689040150.0, '5mg/5mL Cup', None, '10', 'mg', '2', 'UDCUP', None, 'PO/NG'),
 (10040025, 21791856, 69998728, '10040025-498', 498.0, 'P526ON', '2147-06-21 14:00:00', '2147-06-22 21:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 66689040150.0, '5mg/5mL Cup', None, '10', 'mg', '2', 'UDCUP', None, 'NG'),
 (10015931, 28157142, 67754290, '10015931-210', 210.0, 'P039XB', '2176-11-19 23:00:00', '2176-11-19 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '2.5', 'mg', '0.5', 'TAB', 1.0, 'PO/NG'),
 (10014354, 22508257, 36955196, '10014354-930', 930.0, 'P80GYA', '2148-05-13 10:00:00', '2148-05-13 12:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '2.5', 'mg', '0.5', 'TAB', None, 'PO/NG'),
 (10014354, 29757856, 98911781, '10014354-3002', 3002.0, 'P88LJF', '2150-04-11 10:00:00', '2150-04-15 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '2.5', 'mg', '0.5', 'TAB', None, 'PO/NG'),
 (10014354, 24357615, 59938848, '10014354-3263', 3263.0, 'P97DI6', '2150-05-09 20:00:00', '2150-05-10 12:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '2.5', 'mg', '0.5', 'TAB', None, 'PO/NG'),
 (10012853, 20457729, 56498428, '10012853-469', 469.0, 'P74XZ5', '2177-11-03 17:00:00', '2177-11-03 17:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '2.5', 'mg', '0.5', 'TAB', None, 'PO/NG'),
 (10014354, 29757856, 51534186, '10014354-3044', 3044.0, 'P59M9B', '2150-04-13 23:00:00', '2150-04-14 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '2.5', 'mg', '0.5', 'TAB', 1.0, 'PO/NG'),
 (10015860, 24698912, 884144, '10015860-1105', 1105.0, 'P64V8Q', '2192-05-12 23:00:00', '2192-05-13 01:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '2.5', 'mg', '0.5', 'TAB', None, 'PO/NG'),
 (10015931, 28157142, 28207005, '10015931-254', 254.0, 'P039XB', '2176-11-19 23:00:00', '2176-11-20 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '2.5', 'mg', '0.5', 'TAB', 1.0, 'PO/NG'),
 (10015931, 28157142, 18928518, '10015931-254', 254.0, 'P039XB', '2176-11-19 23:00:00', '2176-11-20 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 66689040150.0, '5mg/5mL Cup', None, '2.5', 'mg', '0.5', 'UDCUP', 1.0, 'PO/NG'),
 (10015931, 28157142, 57497099, '10015931-210', 210.0, 'P039XB', '2176-11-19 23:00:00', '2176-11-19 22:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYCO5L', '004224', 66689040150.0, '5mg/5mL Cup', None, '2.5', 'mg', '0.5', 'UDCUP', 1.0, 'PO/NG'),
 (10019385, 20297618, 63694471, '10019385-231', 231.0, 'P23H5V', '2180-02-21 11:00:00', '2180-02-23 11:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5-10', 'mg', '1-2', 'TAB', None, 'PO/NG'),
 (10014354, 26486158, 85021146, '10014354-2197', 2197.0, 'P01WHP', '2148-08-22 16:00:00', '2148-08-23 18:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5-10', 'mg', '1-2', 'TAB', None, 'PO/NG'),
 (10040025, 27259207, 34235764, '10040025-837', 837.0, 'P84QQ8', '2147-12-05 12:00:00', '2147-12-07 09:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5-10', 'mg', '1-2', 'TAB', None, 'PO/NG'),
 (10004457, 28108313, 52670223, '10004457-390', 390.0, 'P21MA0', '2147-12-19 16:00:00', '2147-12-21 20:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 68084035401.0, '5mg Tablet', None, '5-10', 'mg', '1-2', 'TAB', None, 'PO/NG'),
 (10005909, 20199380, 84519674, '10005909-65', 65.0, 'P18RI3', '2144-10-30 00:00:00', '2144-10-31 15:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5-10', 'mg', '1-2', 'TAB', None, 'PO/NG'),
 (10040025, 27259207, 3894823, '10040025-881', 881.0, 'P63ZJX', '2147-12-12 12:00:00', '2147-12-15 07:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5-10', 'mg', '1-2', 'TAB', None, 'PO/NG'),
 (10014354, 26486158, 1965679, '10014354-2445', 2445.0, 'P01WHP', '2148-09-02 08:00:00', '2148-09-08 16:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5-10', 'mg', '1-2', 'TAB', None, 'PO/NG'),
 (10014354, 26228185, 7042804, '10014354-3124', 3124.0, 'P81VV0', '2150-05-01 09:00:00', '2150-05-07 18:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 406055262.0, '5mg Tablet', None, '5-10', 'mg', '1-2', 'TAB', None, 'PO/NG'),
 (10014354, 27487226, 22144525, '10014354-1655', 1655.0, 'P41GFX', '2148-07-01 23:00:00', '2148-07-13 23:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5-10', 'mg', '1-2', 'TAB', None, 'PO/NG'),
 (10040025, 27259207, 81059075, '10040025-853', 853.0, 'P74XZ5', '2147-12-07 10:00:00', '2147-12-12 11:00:00', 'MAIN', 'OxyCODONE (Immediate Release)', 'OXYC5', '004225', 904644461.0, '5mg Tablet', None, '5-10', 'mg', '1-2', 'TAB', None, 'PO/NG'),

In [128]:
%%sql
select subject_id
from hosp.prescriptions
where drug LIKE '%OxyCODONE (Immediate Release)%'
INTERSECT
select subject_id
from hosp.prescriptions
where drug LIKE '%Insulin%'

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
13 rows affected.

[(10004457,),
 (10038999,),
 (10038992,),
 (10019003,),
 (10022017,),
 (10005817,),
 (10039708,),
 (10015860,),
 (10019385,),
 (10040025,),
 (10035631,),
 (10015931,),
 (10014354,)]

In [150]:
%%sql
with cte as (
	select subject_id,avg(result_value::FLOAT) as avg_BMI
	from hosp.omr
	where result_name='BMI (kg/m2)' and subject_id in (
		select subject_id
		from hosp.prescriptions
		where drug LIKE '%OxyCODONE (Immediate Release)%'
		INTERSECT
		select subject_id
		from hosp.prescriptions
		where drug LIKE '%Insulin%'
	)
	group by subject_id
)
select avg(avg_BMI) as avg_BMI
from cte

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
1 rows affected.

[(28.544896603807334,)]

**Intermediate q7**

In [171]:
%%sql
select *
from hosp.diagnoses_icd

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
100 rows affected.

[(10014729, 'F', 21, 2125, '2011 - 2013', None),
 (10003400, 'F', 72, 2134, '2011 - 2013', '2137-09-02'),
 (10002428, 'F', 80, 2155, '2011 - 2013', None),
 (10032725, 'F', 38, 2143, '2011 - 2013', '2143-03-30'),
 (10027445, 'F', 48, 2142, '2011 - 2013', '2146-02-09'),
 (10037928, 'F', 78, 2175, '2011 - 2013', None),
 (10001725, 'F', 46, 2110, '2011 - 2013', None),
 (10040025, 'F', 64, 2143, '2011 - 2013', '2148-02-07'),
 (10008454, 'F', 26, 2110, '2011 - 2013', None),
 (10020640, 'F', 91, 2153, '2011 - 2013', '2154-02-04'),
 (10014078, 'F', 60, 2166, '2011 - 2013', None),
 (10007795, 'F', 53, 2136, '2011 - 2013', None),
 (10001217, 'F', 55, 2157, '2011 - 2013', None),
 (10019172, 'F', 63, 2118, '2011 - 2013', None),
 (10039831, 'F', 57, 2115, '2011 - 2013', None),
 (10007928, 'F', 59, 2129, '2011 - 2013', None),
 (10019003, 'F', 65, 2148, '2011 - 2013', '2155-12-03'),
 (10002930, 'F', 48, 2193, '2011 - 2013', '2201-12-24'),
 (10010471, 'F', 89, 2155, '2014 - 2016', '2155-12-07'),
 (10027602, 'F', 71, 2201, '2014 - 2016', None),
 (10031757, 'F', 67, 2137, '2014 - 2016', '2137-10-31'),
 (10016742, 'F', 58, 2178, '2014 - 2016', None),
 (10039997, 'F', 67, 2134, '2014 - 2016', None),
 (10012853, 'F', 91, 2175, '2014 - 2016', None),
 (10000032, 'F', 52, 2180, '2014 - 2016', '2180-09-09'),
 (10031404, 'F', 82, 2113, '2014 - 2016', None),
 (10029291, 'F', 50, 2123, '2014 - 2016', None),
 (10005909, 'F', 40, 2144, '2014 - 2016', None),
 (10039708, 'F', 46, 2138, '2014 - 2016', None),
 (10019568, 'F', 59, 2120, '2014 - 2016', None),
 (10020187, 'F', 63, 2169, '2014 - 2016', None),
 (10016810, 'F', 66, 2185, '2014 - 2016', None),
 (10038081, 'F', 63, 2115, '2014 - 2016', '2115-10-12'),
 (10021312, 'F', 55, 2113, '2014 - 2016', None),
 (10006580, 'F', 63, 2137, '2014 - 2016', None),
 (10010867, 'F', 28, 2147, '2014 - 2016', None),
 (10020786, 'F', 86, 2189, '2014 - 2016', None),
 (10020306, 'F', 74, 2129, '2014 - 2016', None),
 (10023239, 'F', 29, 2137, '2014 - 2016', None),
 (10018328, 'F', 83, 2154, '2014 - 2016', None),
 (10008287, 'F', 43, 2145, '2014 - 2016', None),
 (10036156, 'F', 88, 2157, '2014 - 2016', None),
 (10015272, 'F', 78, 2137, '2014 - 2016', None),
 (10022281, 'M', 84, 2125, '2011 - 2013', None),
 (10035631, 'M', 63, 2112, '2011 - 2013', '2116-03-12'),
 (10024043, 'M', 67, 2117, '2011 - 2013', '2117-06-26'),
 (10025612, 'M', 82, 2125, '2011 - 2013', None),
 (10003046, 'M', 64, 2154, '2011 - 2013', None),
 (10021666, 'M', 87, 2172, '2011 - 2013', '2172-04-19'),
 (10018423, 'M', 37, 2162, '2011 - 2013', None),
 (10025463, 'M', 66, 2136, '2011 - 2013', '2137-10-09'),
 (10017492, 'M', 84, 2114, '2011 - 2013', '2116-07-05'),
 (10004422, 'M', 78, 2111, '2011 - 2013', None),
 (10011398, 'M', 67, 2146, '2011 - 2013', None),
 (10021938, 'M', 65, 2181, '2011 - 2013', '2182-10-16'),
 (10009628, 'M', 58, 2153, '2011 - 2013', None),
 (10004457, 'M', 65, 2140, '2011 - 2013', None),
 (10015860, 'M', 53, 2186, '2011 - 2013', None),
 (10021487, 'M', 43, 2116, '2011 - 2013', None),
 (10013049, 'M', 52, 2114, '2011 - 2013', None),
 (10026255, 'M', 66, 2200, '2011 - 2013', '2201-07-13'),
 (10023771, 'M', 70, 2113, '2011 - 2013', None),
 (10023117, 'M', 53, 2170, '2011 - 2013', '2175-07-20'),
 (10022041, 'M', 64, 2187, '2011 - 2013', None),
 (10005348, 'M', 76, 2128, '2011 - 2013', None),
 (10009035, 'M', 28, 2161, '2011 - 2013', None),
 (10018081, 'M', 79, 2133, '2011 - 2013', '2134-10-28'),
 (10038933, 'M', 34, 2148, '2011 - 2013', None),
 (10037975, 'M', 60, 2185, '2014 - 2016', '2185-01-22'),
 (10035185, 'M', 70, 2120, '2014 - 2016', None),
 (10014354, 'M', 60, 2146, '2014 - 2016', None),
 (10022880, 'M', 66, 2177, '2014 - 2016', None),
 (10004720, 'M', 61, 2183, '2014 - 2016', '2186-11-17'),
 (10019385, 'M', 44, 2180, '2014 - 2016', None),
 (10029484, 'M', 64, 2160, '2014 - 2016', None),
 (10037861, 'M', 77, 2115, '2014 - 2016', '2117-03-24'),
 (10026406, 'M', 45, 2129, '2014 - 2016', None),
 (10007818, 'M', 69, 2146, '2014 - 2016', '2146-07-12'),
 (10020740, 'M', 56, 2150, '2014 - 2016', None),
 (10038999, 'M', 45, 2131, '2014 - 2016', None),
 (10004235, 'M', 47, 2196, '2014 - 2016', None),
 (10022017, 'M', 59, 2189, '2014 - 2016', None),
 (10002495, 'M', 81, 2141, '2014 - 2016', None),
 (10018845, 'M', 91, 2184, '2014 - 2016', '2184-11-22'),
 (10020944, 'M', 72, 2131, '2014 - 2016', '2131-04-28'),
 (10016150, 'M', 69, 2142, '2014 - 2016', None),
 (10005866, 'M', 57, 2146, '2014 - 2016', '2149-11-21'),
 (10026354, 'M', 34, 2119, '2014 - 2016', None),
 (10019917, 'M', 44, 2182, '2014 - 2016', None),
 (10019777, 'M', 51, 2187, '2014 - 2016', '2187-04-29'),
 (10005817, 'M', 66, 2132, '2014 - 2016', '2135-01-19'),
 (10009049, 'M', 56, 2174, '2014 - 2016', None),
 (10015931, 'M', 87, 2176, '2014 - 2016', '2177-03-29'),
 (10006053, 'M', 52, 2111, '2014 - 2016', '2111-11-15'),
 (10012552, 'M', 78, 2140, '2014 - 2016', None),
 (10004733, 'M', 51, 2174, '2014 - 2016', None),
 (10021118, 'M', 62, 2161, '2014 - 2016', None),
 (10018501, 'M', 83, 2141, '2014 - 2016', None),
 (10007058, 'M', 48, 2167, '2014 - 2016', None),
 (10038992, 'M', 70, 2185, '2014 - 2016', None)]

In [166]:
%%sql
select subject_id,min(admittime) as earliest_admittime,max(admittime) as latest_admittime
from hosp.admissions
group by subject_id
order by subject_id

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
100 rows affected.

[(10000032, '2180-05-06 22:23:00', '2180-08-05 23:44:00'),
 (10001217, '2157-11-18 22:56:00', '2157-12-18 16:58:00'),
 (10001725, '2110-04-11 15:08:00', '2110-04-11 15:08:00'),
 (10002428, '2155-07-14 19:15:00', '2160-07-15 23:37:00'),
 (10002495, '2141-05-22 20:17:00', '2141-05-22 20:17:00'),
 (10002930, '2193-08-05 06:18:00', '2201-03-23 19:15:00'),
 (10003046, '2154-01-02 07:15:00', '2154-01-02 07:15:00'),
 (10003400, '2134-06-06 02:25:00', '2137-08-04 00:07:00'),
 (10004235, '2196-02-24 14:38:00', '2196-06-20 21:11:00'),
 (10004422, '2111-01-15 14:55:00', '2111-01-15 14:55:00'),
 (10004457, '2140-09-17 13:41:00', '2148-09-14 14:19:00'),
 (10004720, '2186-11-12 18:01:00', '2186-11-12 18:01:00'),
 (10004733, '2174-12-04 11:28:00', '2174-12-04 11:28:00'),
 (10005348, '2128-09-05 08:30:00', '2130-10-26 17:03:00'),
 (10005817, '2132-12-12 01:43:00', '2135-01-03 21:54:00'),
 (10005866, '2146-06-06 00:50:00', '2149-10-01 18:56:00'),
 (10005909, '2144-10-28 23:20:00', '2144-10-28 23:20:00'),
 (10006053, '2111-11-13 23:39:00', '2111-11-13 23:39:00'),
 (10006580, '2137-08-10 11:00:00', '2137-08-10 11:00:00'),
 (10007058, '2167-11-07 19:05:00', '2167-11-07 19:05:00'),
 (10007795, '2136-04-10 20:33:00', '2136-09-22 20:51:00'),
 (10007818, '2146-06-10 16:37:00', '2146-06-10 16:37:00'),
 (10007928, '2129-04-05 22:56:00', '2129-04-05 22:56:00'),
 (10008287, '2145-09-28 01:17:00', '2145-09-28 01:17:00'),
 (10008454, '2110-11-30 06:31:00', '2110-11-30 06:31:00'),
 (10009035, '2161-04-27 07:15:00', '2161-04-27 07:15:00'),
 (10009049, '2174-05-26 08:21:00', '2174-05-26 08:21:00'),
 (10009628, '2153-09-17 17:08:00', '2153-09-17 17:08:00'),
 (10010471, '2155-05-08 17:05:00', '2155-12-02 19:36:00'),
 (10010867, '2147-12-30 08:40:00', '2148-03-07 23:30:00'),
 (10011398, '2146-12-15 07:15:00', '2146-12-15 07:15:00'),
 (10012552, '2140-03-22 17:18:00', '2140-03-22 17:18:00'),
 (10012853, '2175-04-05 15:36:00', '2177-11-03 09:30:00'),
 (10013049, '2114-06-20 10:15:00', '2114-06-20 10:15:00'),
 (10014078, '2166-08-21 23:09:00', '2166-08-21 23:09:00'),
 (10014354, '2146-10-08 23:47:00', '2150-05-09 16:09:00'),
 (10014729, '2125-02-27 07:15:00', '2125-03-19 16:58:00'),
 (10015272, '2137-06-12 18:36:00', '2137-06-12 18:36:00'),
 (10015860, '2186-09-15 16:12:00', '2193-11-23 19:15:00'),
 (10015931, '2176-11-14 18:02:00', '2177-03-24 21:47:00'),
 (10016150, '2142-05-10 15:05:00', '2142-05-10 15:05:00'),
 (10016742, '2178-07-03 21:13:00', '2178-07-22 07:19:00'),
 (10016810, '2185-06-16 01:31:00', '2185-06-16 01:31:00'),
 (10017492, '2114-03-19 20:05:00', '2116-06-26 18:25:00'),
 (10018081, '2133-12-18 16:58:00', '2134-09-06 15:57:00'),
 (10018328, '2154-02-05 21:58:00', '2154-04-24 03:15:00'),
 (10018423, '2167-05-03 21:24:00', '2167-05-03 21:24:00'),
 (10018501, '2141-07-30 22:34:00', '2141-07-30 22:34:00'),
 (10018845, '2184-10-08 02:28:00', '2184-10-08 02:28:00'),
 (10019003, '2148-12-21 07:15:00', '2155-10-17 18:01:00'),
 (10019172, '2118-10-08 14:00:00', '2118-11-15 14:00:00'),
 (10019385, '2180-02-15 20:28:00', '2180-03-04 01:16:00'),
 (10019568, '2120-01-30 21:07:00', '2120-01-30 21:07:00'),
 (10019777, '2187-02-10 18:57:00', '2187-02-10 18:57:00'),
 (10019917, '2182-01-07 23:25:00', '2182-01-07 23:25:00'),
 (10020187, '2169-01-15 04:04:00', '2170-02-24 00:00:00'),
 (10020306, '2129-10-29 08:00:00', '2135-01-15 20:55:00'),
 (10020640, '2153-02-13 00:22:00', '2153-02-13 00:22:00'),
 (10020740, '2150-03-11 15:34:00', '2151-01-15 15:25:00'),
 (10020786, '2189-06-09 12:45:00', '2189-06-09 12:45:00'),
 (10020944, '2131-02-27 15:34:00', '2131-02-27 15:34:00'),
 (10021118, '2161-11-15 20:10:00', '2161-11-15 20:10:00'),
 (10021312, '2113-08-16 00:32:00', '2113-09-12 14:42:00'),
 (10021487, '2116-12-03 00:23:00', '2117-12-03 17:07:00'),
 (10021666, '2172-03-12 23:47:00', '2172-03-12 23:47:00'),
 (10021938, '2181-10-13 01:48:00', '2181-10-25 10:44:00'),
 (10022017, '2189-09-10 00:00:00', '2189-09-10 00:00:00'),
 (10022041, '2187-05-18 17:08:00', '2187-05-18 17:08:00'),
 (10022281, '2125-06-17 04:11:00', '2125-06-17 04:11:00'),
 (10022880, '2177-03-12 07:15:00', '2177-03-12 07:15:00'),
 (10023117, '2170-10-08 07:15:00', '2175-07-06 15:57:00'),
 (10023239, '2137-06-19 17:35:00', '2140-10-22 22:04:00'),
 (10023771, '2113-08-25 07:15:00', '2113-08-25 07:15:00'),
 (10024043, '2117-02-03 20:10:00', '2117-04-11 20:46:00'),
 (10025463, '2136-10-31 07:15:00', '2137-10-08 21:20:00'),
 (10025612, '2125-09-25 07:15:00', '2125-09-25 07:15:00'),
 (10026255, '2200-09-17 22:53:00', '2201-07-07 18:15:00'),
 (10026354, '2119-10-26 07:11:00', '2119-10-26 07:11:00'),
 (10026406, '2129-01-03 15:55:00', '2133-03-01 19:30:00'),
 (10027445, '2142-07-31 00:32:00', '2145-12-08 19:47:00'),
 (10027602, '2201-10-30 12:05:00', '2201-12-11 12:00:00'),
 (10029291, '2123-02-20 01:59:00', '2123-02-20 01:59:00'),
 (10029484, '2160-11-08 04:16:00', '2160-11-08 04:16:00'),
 (10031404, '2113-08-04 18:46:00', '2113-08-04 18:46:00'),
 (10031757, '2137-10-12 22:43:00', '2137-10-12 22:43:00'),
 (10032725, '2143-02-17 14:20:00', '2143-03-22 04:59:00'),
 (10035185, '2120-05-12 12:53:00', '2120-05-12 12:53:00'),
 (10035631, '2112-09-17 19:13:00', '2116-02-27 20:55:00'),
 (10036156, '2157-07-01 04:52:00', '2157-07-01 04:52:00'),
 (10037861, '2115-10-09 20:28:00', '2117-03-14 16:34:00'),
 (10037928, '2175-10-26 01:31:00', '2183-08-04 04:04:00'),
 (10037975, '2185-01-17 19:11:00', '2185-01-17 19:11:00'),
 (10038081, '2115-09-27 20:40:00', '2115-09-27 20:40:00'),
 (10038933, '2148-09-10 12:09:00', '2148-09-10 12:09:00'),
 (10038992, '2185-11-02 18:26:00', '2187-07-29 01:05:00'),
 (10038999, '2131-05-22 21:49:00', '2132-05-17 23:32:00'),
 (10039708, '2138-10-30 23:30:00', '2144-01-19 12:07:00'),
 (10039831, '2115-12-28 07:15:00', '2115-12-28 07:15:00'),
 (10039997, '2134-09-07 12:00:00', '2137-03-15 22:08:00'),
 (10040025, '2143-03-18 12:34:00', '2148-01-23 12:18:00')]

In [170]:
%%sql
select distinct on (subject_id) subject_id,hadm_id,admittime
from hosp.admissions
order by subject_id,admittime

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
100 rows affected.

[(10000032, 22595853, '2180-05-06 22:23:00'),
 (10001217, 24597018, '2157-11-18 22:56:00'),
 (10001725, 25563031, '2110-04-11 15:08:00'),
 (10002428, 25797028, '2155-07-14 19:15:00'),
 (10002495, 24982426, '2141-05-22 20:17:00'),
 (10002930, 22380825, '2193-08-05 06:18:00'),
 (10003046, 26048429, '2154-01-02 07:15:00'),
 (10003400, 26090619, '2134-06-06 02:25:00'),
 (10004235, 24181354, '2196-02-24 14:38:00'),
 (10004422, 21255400, '2111-01-15 14:55:00'),
 (10004457, 21039249, '2140-09-17 13:41:00'),
 (10004720, 22081550, '2186-11-12 18:01:00'),
 (10004733, 27411876, '2174-12-04 11:28:00'),
 (10005348, 29496232, '2128-09-05 08:30:00'),
 (10005817, 20626031, '2132-12-12 01:43:00'),
 (10005866, 26158160, '2146-06-06 00:50:00'),
 (10005909, 20199380, '2144-10-28 23:20:00'),
 (10006053, 22942076, '2111-11-13 23:39:00'),
 (10006580, 24159665, '2137-08-10 11:00:00'),
 (10007058, 22954658, '2167-11-07 19:05:00'),
 (10007795, 28477357, '2136-04-10 20:33:00'),
 (10007818, 22987108, '2146-06-10 16:37:00'),
 (10007928, 20338077, '2129-04-05 22:56:00'),
 (10008287, 22168393, '2145-09-28 01:17:00'),
 (10008454, 20291550, '2110-11-30 06:31:00'),
 (10009035, 28324362, '2161-04-27 07:15:00'),
 (10009049, 22995465, '2174-05-26 08:21:00'),
 (10009628, 25926192, '2153-09-17 17:08:00'),
 (10010471, 21322534, '2155-05-08 17:05:00'),
 (10010867, 22429197, '2147-12-30 08:40:00'),
 (10011398, 27505812, '2146-12-15 07:15:00'),
 (10012552, 27089790, '2140-03-22 17:18:00'),
 (10012853, 26369609, '2175-04-05 15:36:00'),
 (10013049, 22675517, '2114-06-20 10:15:00'),
 (10014078, 25809882, '2166-08-21 23:09:00'),
 (10014354, 22741225, '2146-10-08 23:47:00'),
 (10014729, 28889419, '2125-02-27 07:15:00'),
 (10015272, 27993466, '2137-06-12 18:36:00'),
 (10015860, 25085565, '2186-09-15 16:12:00'),
 (10015931, 28157142, '2176-11-14 18:02:00'),
 (10016150, 29374560, '2142-05-10 15:05:00'),
 (10016742, 29281842, '2178-07-03 21:13:00'),
 (10016810, 20973395, '2185-06-16 01:31:00'),
 (10017492, 27672872, '2114-03-19 20:05:00'),
 (10018081, 21027282, '2133-12-18 16:58:00'),
 (10018328, 26706939, '2154-02-05 21:58:00'),
 (10018423, 29366372, '2167-05-03 21:24:00'),
 (10018501, 28479513, '2141-07-30 22:34:00'),
 (10018845, 21101111, '2184-10-08 02:28:00'),
 (10019003, 28003918, '2148-12-21 07:15:00'),
 (10019172, 21540783, '2118-10-08 14:00:00'),
 (10019385, 20297618, '2180-02-15 20:28:00'),
 (10019568, 28710730, '2120-01-30 21:07:00'),
 (10019777, 27738145, '2187-02-10 18:57:00'),
 (10019917, 22585261, '2182-01-07 23:25:00'),
 (10020187, 24104168, '2169-01-15 04:04:00'),
 (10020306, 28778757, '2129-10-29 08:00:00'),
 (10020640, 27984218, '2153-02-13 00:22:00'),
 (10020740, 23831430, '2150-03-11 15:34:00'),
 (10020786, 23488445, '2189-06-09 12:45:00'),
 (10020944, 29974575, '2131-02-27 15:34:00'),
 (10021118, 24490144, '2161-11-15 20:10:00'),
 (10021312, 25020332, '2113-08-16 00:32:00'),
 (10021487, 28998349, '2116-12-03 00:23:00'),
 (10021666, 22756440, '2172-03-12 23:47:00'),
 (10021938, 23112364, '2181-10-13 01:48:00'),
 (10022017, 22342963, '2189-09-10 00:00:00'),
 (10022041, 28909879, '2187-05-18 17:08:00'),
 (10022281, 29642388, '2125-06-17 04:11:00'),
 (10022880, 27708593, '2177-03-12 07:15:00'),
 (10023117, 29839885, '2170-10-08 07:15:00'),
 (10023239, 29295881, '2137-06-19 17:35:00'),
 (10023771, 20044587, '2113-08-25 07:15:00'),
 (10024043, 25561728, '2117-02-03 20:10:00'),
 (10025463, 27327816, '2136-10-31 07:15:00'),
 (10025612, 23403708, '2125-09-25 07:15:00'),
 (10026255, 20437651, '2200-09-17 22:53:00'),
 (10026354, 24547356, '2119-10-26 07:11:00'),
 (10026406, 25260176, '2129-01-03 15:55:00'),
 (10027445, 26275841, '2142-07-31 00:32:00'),
 (10027602, 28166872, '2201-10-30 12:05:00'),
 (10029291, 22205327, '2123-02-20 01:59:00'),
 (10029484, 20764029, '2160-11-08 04:16:00'),
 (10031404, 21606243, '2113-08-04 18:46:00'),
 (10031757, 28477280, '2137-10-12 22:43:00'),
 (10032725, 25177949, '2143-02-17 14:20:00'),
 (10035185, 22580999, '2120-05-12 12:53:00'),
 (10035631, 29462354, '2112-09-17 19:13:00'),
 (10036156, 28019404, '2157-07-01 04:52:00'),
 (10037861, 24256866, '2115-10-09 20:28:00'),
 (10037928, 28543425, '2175-10-26 01:31:00'),
 (10037975, 27617929, '2185-01-17 19:11:00'),
 (10038081, 20755971, '2115-09-27 20:40:00'),
 (10038933, 25129047, '2148-09-10 12:09:00'),
 (10038992, 22797747, '2185-11-02 18:26:00'),
 (10038999, 27189241, '2131-05-22 21:49:00'),
 (10039708, 20572787, '2138-10-30 23:30:00'),
 (10039831, 26924951, '2115-12-28 07:15:00'),
 (10039997, 24294180, '2134-09-07 12:00:00'),
 (10040025, 27125816, '2143-03-18 12:34:00')]

In [167]:
%%sql
select distinct on (subject_id) subject_id,hadm_id,admittime
from hosp.admissions
order by subject_id,admittime desc

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
100 rows affected.

[(10000032, 25742920, '2180-08-05 23:44:00'),
 (10001217, 27703517, '2157-12-18 16:58:00'),
 (10001725, 25563031, '2110-04-11 15:08:00'),
 (10002428, 26549334, '2160-07-15 23:37:00'),
 (10002495, 24982426, '2141-05-22 20:17:00'),
 (10002930, 20282368, '2201-03-23 19:15:00'),
 (10003046, 26048429, '2154-01-02 07:15:00'),
 (10003400, 23559586, '2137-08-04 00:07:00'),
 (10004235, 22187210, '2196-06-20 21:11:00'),
 (10004422, 21255400, '2111-01-15 14:55:00'),
 (10004457, 25559382, '2148-09-14 14:19:00'),
 (10004720, 22081550, '2186-11-12 18:01:00'),
 (10004733, 27411876, '2174-12-04 11:28:00'),
 (10005348, 25239799, '2130-10-26 17:03:00'),
 (10005817, 28661809, '2135-01-03 21:54:00'),
 (10005866, 20364112, '2149-10-01 18:56:00'),
 (10005909, 20199380, '2144-10-28 23:20:00'),
 (10006053, 22942076, '2111-11-13 23:39:00'),
 (10006580, 24159665, '2137-08-10 11:00:00'),
 (10007058, 22954658, '2167-11-07 19:05:00'),
 (10007795, 22051341, '2136-09-22 20:51:00'),
 (10007818, 22987108, '2146-06-10 16:37:00'),
 (10007928, 20338077, '2129-04-05 22:56:00'),
 (10008287, 22168393, '2145-09-28 01:17:00'),
 (10008454, 20291550, '2110-11-30 06:31:00'),
 (10009035, 28324362, '2161-04-27 07:15:00'),
 (10009049, 22995465, '2174-05-26 08:21:00'),
 (10009628, 25926192, '2153-09-17 17:08:00'),
 (10010471, 29842315, '2155-12-02 19:36:00'),
 (10010867, 22196214, '2148-03-07 23:30:00'),
 (10011398, 27505812, '2146-12-15 07:15:00'),
 (10012552, 27089790, '2140-03-22 17:18:00'),
 (10012853, 20457729, '2177-11-03 09:30:00'),
 (10013049, 22675517, '2114-06-20 10:15:00'),
 (10014078, 25809882, '2166-08-21 23:09:00'),
 (10014354, 24357615, '2150-05-09 16:09:00'),
 (10014729, 23300884, '2125-03-19 16:58:00'),
 (10015272, 27993466, '2137-06-12 18:36:00'),
 (10015860, 28196804, '2193-11-23 19:15:00'),
 (10015931, 22130791, '2177-03-24 21:47:00'),
 (10016150, 29374560, '2142-05-10 15:05:00'),
 (10016742, 27568122, '2178-07-22 07:19:00'),
 (10016810, 20973395, '2185-06-16 01:31:00'),
 (10017492, 27417763, '2116-06-26 18:25:00'),
 (10018081, 25973915, '2134-09-06 15:57:00'),
 (10018328, 23786647, '2154-04-24 03:15:00'),
 (10018423, 29366372, '2167-05-03 21:24:00'),
 (10018501, 28479513, '2141-07-30 22:34:00'),
 (10018845, 21101111, '2184-10-08 02:28:00'),
 (10019003, 26226543, '2155-10-17 18:01:00'),
 (10019172, 24997044, '2118-11-15 14:00:00'),
 (10019385, 20611796, '2180-03-04 01:16:00'),
 (10019568, 28710730, '2120-01-30 21:07:00'),
 (10019777, 27738145, '2187-02-10 18:57:00'),
 (10019917, 22585261, '2182-01-07 23:25:00'),
 (10020187, 26842957, '2170-02-24 00:00:00'),
 (10020306, 23052851, '2135-01-15 20:55:00'),
 (10020640, 27984218, '2153-02-13 00:22:00'),
 (10020740, 23143086, '2151-01-15 15:25:00'),
 (10020786, 23488445, '2189-06-09 12:45:00'),
 (10020944, 29974575, '2131-02-27 15:34:00'),
 (10021118, 24490144, '2161-11-15 20:10:00'),
 (10021312, 28829452, '2113-09-12 14:42:00'),
 (10021487, 21928381, '2117-12-03 17:07:00'),
 (10021666, 22756440, '2172-03-12 23:47:00'),
 (10021938, 27154822, '2181-10-25 10:44:00'),
 (10022017, 22342963, '2189-09-10 00:00:00'),
 (10022041, 28909879, '2187-05-18 17:08:00'),
 (10022281, 29642388, '2125-06-17 04:11:00'),
 (10022880, 27708593, '2177-03-12 07:15:00'),
 (10023117, 21607814, '2175-07-06 15:57:00'),
 (10023239, 28984460, '2140-10-22 22:04:00'),
 (10023771, 20044587, '2113-08-25 07:15:00'),
 (10024043, 24717014, '2117-04-11 20:46:00'),
 (10025463, 24470193, '2137-10-08 21:20:00'),
 (10025612, 23403708, '2125-09-25 07:15:00'),
 (10026255, 22059910, '2201-07-07 18:15:00'),
 (10026354, 24547356, '2119-10-26 07:11:00'),
 (10026406, 25166559, '2133-03-01 19:30:00'),
 (10027445, 27488741, '2145-12-08 19:47:00'),
 (10027602, 21477991, '2201-12-11 12:00:00'),
 (10029291, 22205327, '2123-02-20 01:59:00'),
 (10029484, 20764029, '2160-11-08 04:16:00'),
 (10031404, 21606243, '2113-08-04 18:46:00'),
 (10031757, 28477280, '2137-10-12 22:43:00'),
 (10032725, 20611640, '2143-03-22 04:59:00'),
 (10035185, 22580999, '2120-05-12 12:53:00'),
 (10035631, 29276678, '2116-02-27 20:55:00'),
 (10036156, 28019404, '2157-07-01 04:52:00'),
 (10037861, 24540843, '2117-03-14 16:34:00'),
 (10037928, 22228639, '2183-08-04 04:04:00'),
 (10037975, 27617929, '2185-01-17 19:11:00'),
 (10038081, 20755971, '2115-09-27 20:40:00'),
 (10038933, 25129047, '2148-09-10 12:09:00'),
 (10038992, 24745425, '2187-07-29 01:05:00'),
 (10038999, 29026789, '2132-05-17 23:32:00'),
 (10039708, 29488258, '2144-01-19 12:07:00'),
 (10039831, 26924951, '2115-12-28 07:15:00'),
 (10039997, 22484749, '2137-03-15 22:08:00'),
 (10040025, 27996267, '2148-01-23 12:18:00')]

In [181]:
%%sql
with earliest as (
	select distinct on (subject_id) subject_id,hadm_id as earliest_hadm_id
	from hosp.admissions
	order by subject_id,admittime
)
, latest as (
	select distinct on (subject_id) subject_id,hadm_id as latest_hadm_id
	from hosp.admissions
	order by subject_id,admittime desc
)
select gender,count(*) as cnt
from hosp.patients join earliest on hosp.patients.subject_id=earliest.subject_id join latest on hosp.patients.subject_id=latest.subject_id
group by gender

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
2 rows affected.

[('M', 57), ('F', 43)]

In [182]:
%%sql
with count as (
	with earliest as (
		select distinct on (subject_id) subject_id,hadm_id as earliest_hadm_id
		from hosp.admissions
		order by subject_id,admittime
	)
	, latest as (
		select distinct on (subject_id) subject_id,hadm_id as latest_hadm_id
		from hosp.admissions
		order by subject_id,admittime desc
	)
	select gender,count(*) as cnt
	from hosp.patients join earliest on hosp.patients.subject_id=earliest.subject_id join latest on hosp.patients.subject_id=latest.subject_id
	where exists (
		select distinct icd_code,icd_version
		from hosp.diagnoses_icd
		where hadm_id=earliest_hadm_id
		intersect
		select distinct icd_code,icd_version
		from hosp.diagnoses_icd
		where hadm_id=latest_hadm_id
	)
	group by gender
)
,total as (
	select gender,count(*) as tot
	from hosp.patients
	group by gender
)
select count.gender,(cnt::FLOAT/tot::FLOAT)*100 as percentage
from count join total on count.gender=total.gender
order by percentage desc

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
2 rows affected.

[('M', 80.7017543859649), ('F', 72.09302325581395)]

**Intermediate q8**

In [158]:
%%sql select subject_id,DATE_TRUNC('second',AVG(TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS')-TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) as avg_duration
from hosp.admissions
where dischtime is not null
group by subject_id
order by subject_id

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
100 rows affected.

[(10000032, datetime.timedelta(days=1, seconds=38400)),
 (10001217, datetime.timedelta(days=6, seconds=30630)),
 (10001725, datetime.timedelta(days=2, seconds=85920)),
 (10002428, datetime.timedelta(days=5, seconds=53674)),
 (10002495, datetime.timedelta(days=6, seconds=77040)),
 (10002930, datetime.timedelta(days=3, seconds=28330)),
 (10003046, datetime.timedelta(days=7, seconds=16680)),
 (10003400, datetime.timedelta(days=11, seconds=63677)),
 (10004235, datetime.timedelta(days=5, seconds=26540)),
 (10004422, datetime.timedelta(days=10, seconds=300)),
 (10004457, datetime.timedelta(days=1, seconds=70010)),
 (10004720, datetime.timedelta(days=5, seconds=1740)),
 (10004733, datetime.timedelta(days=23, seconds=9120)),
 (10005348, datetime.timedelta(days=5, seconds=3440)),
 (10005817, datetime.timedelta(days=12, seconds=18090)),
 (10005866, datetime.timedelta(days=8, seconds=35194)),
 (10005909, datetime.timedelta(days=4, seconds=57780)),
 (10006053, datetime.timedelta(days=1, seconds=63660)),
 (10006580, datetime.timedelta(days=5, seconds=8700)),
 (10007058, datetime.timedelta(days=3, seconds=69480)),
 (10007795, datetime.timedelta(days=8, seconds=20628)),
 (10007818, datetime.timedelta(days=31, seconds=26580)),
 (10007928, datetime.timedelta(days=5, seconds=66540)),
 (10008287, datetime.timedelta(days=4, seconds=44280)),
 (10008454, datetime.timedelta(days=10, seconds=33720)),
 (10009035, datetime.timedelta(days=4, seconds=23400)),
 (10009049, datetime.timedelta(days=5, seconds=21240)),
 (10009628, datetime.timedelta(days=7, seconds=72720)),
 (10010471, datetime.timedelta(days=3, seconds=39120)),
 (10010867, datetime.timedelta(days=7, seconds=45600)),
 (10011398, datetime.timedelta(days=4, seconds=22920)),
 (10012552, datetime.timedelta(days=7, seconds=75120)),
 (10012853, datetime.timedelta(days=2, seconds=79550)),
 (10013049, datetime.timedelta(days=4, seconds=23400)),
 (10014078, datetime.timedelta(days=4, seconds=56340)),
 (10014354, datetime.timedelta(days=4, seconds=19005)),
 (10014729, datetime.timedelta(days=8, seconds=6870)),
 (10015272, datetime.timedelta(days=5, seconds=76140)),
 (10015860, datetime.timedelta(days=6, seconds=22047)),
 (10015931, datetime.timedelta(days=10, seconds=64800)),
 (10016150, datetime.timedelta(days=5, seconds=17040)),
 (10016742, datetime.timedelta(days=3, seconds=63160)),
 (10016810, datetime.timedelta(days=5, seconds=51840)),
 (10017492, datetime.timedelta(days=11, seconds=21750)),
 (10018081, datetime.timedelta(days=13, seconds=41205)),
 (10018328, datetime.timedelta(days=6, seconds=50460)),
 (10018423, datetime.timedelta(days=7, seconds=55980)),
 (10018501, datetime.timedelta(days=5, seconds=70320)),
 (10018845, datetime.timedelta(days=3, seconds=52320)),
 (10019003, datetime.timedelta(days=7, seconds=61890)),
 (10019172, datetime.timedelta(days=4, seconds=62580)),
 (10019385, datetime.timedelta(days=6, seconds=18990)),
 (10019568, datetime.timedelta(days=2, seconds=66780)),
 (10019777, datetime.timedelta(days=16, seconds=66300)),
 (10019917, datetime.timedelta(days=2, seconds=62820)),
 (10020187, datetime.timedelta(days=5, seconds=50880)),
 (10020306, datetime.timedelta(days=8, seconds=14580)),
 (10020640, datetime.timedelta(days=7, seconds=48600)),
 (10020740, datetime.timedelta(days=10, seconds=36876)),
 (10020786, datetime.timedelta(days=4, seconds=16500)),
 (10020944, datetime.timedelta(days=14, seconds=5220)),
 (10021118, datetime.timedelta(days=7, seconds=71400)),
 (10021312, datetime.timedelta(days=5, seconds=37830)),
 (10021487, datetime.timedelta(days=12, seconds=30580)),
 (10021666, datetime.timedelta(days=10, seconds=57180)),
 (10021938, datetime.timedelta(days=1, seconds=80340)),
 (10022017, datetime.timedelta(days=6, seconds=54000)),
 (10022041, datetime.timedelta(days=5, seconds=720)),
 (10022281, datetime.timedelta(days=2, seconds=40440)),
 (10022880, datetime.timedelta(days=7, seconds=25800)),
 (10023117, datetime.timedelta(days=7, seconds=18334)),
 (10023239, datetime.timedelta(days=2, seconds=84820)),
 (10023771, datetime.timedelta(days=5, seconds=25200)),
 (10024043, datetime.timedelta(days=2, seconds=68160)),
 (10025463, datetime.timedelta(days=1, seconds=49950)),
 (10025612, datetime.timedelta(days=8, seconds=18540)),
 (10026255, datetime.timedelta(days=9, seconds=1320)),
 (10026354, datetime.timedelta(days=11, seconds=19140)),
 (10026406, datetime.timedelta(days=2, seconds=35700)),
 (10027445, datetime.timedelta(days=9, seconds=67500)),
 (10027602, datetime.timedelta(days=13, seconds=51150)),
 (10029291, datetime.timedelta(days=18, seconds=48660)),
 (10029484, datetime.timedelta(days=3, seconds=26640)),
 (10031404, datetime.timedelta(days=2, seconds=7860)),
 (10031757, datetime.timedelta(days=11, seconds=67620)),
 (10032725, datetime.timedelta(days=15, seconds=19680)),
 (10035185, datetime.timedelta(days=5, seconds=11220)),
 (10035631, datetime.timedelta(days=13, seconds=20686)),
 (10036156, datetime.timedelta(days=2, seconds=36960)),
 (10037861, datetime.timedelta(days=9, seconds=6870)),
 (10037928, datetime.timedelta(days=4, seconds=12276)),
 (10037975, datetime.timedelta(days=4, seconds=69240)),
 (10038081, datetime.timedelta(days=14, seconds=12000)),
 (10038933, datetime.timedelta(days=13, seconds=540)),
 (10038992, datetime.timedelta(days=5, seconds=68190)),
 (10038999, datetime.timedelta(days=9, seconds=9690)),
 (10039708, datetime.timedelta(days=7, seconds=42966)),
 (10039831, datetime.timedelta(days=5, seconds=26340)),
 (10039997, datetime.timedelta(days=2, seconds=28020)),
 (10040025, datetime.timedelta(days=6, seconds=50694))]

**Intermediate q9**

In [192]:
%%sql
with temp as (
	select subject_id,pharmacy_id,count(*) as count
	from hosp.prescriptions
	group by subject_id,pharmacy_id
	having count(*)>1
	order by count desc,subject_id,pharmacy_id
)
select subject_id,pharmacy_id
from temp

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
2843 rows affected.

[(10021666, 44758610),
 (10021666, 62386317),
 (10035631, 60147103),
 (10038933, 24685456),
 (10038933, 45597924),
 (10003046, 4422037),
 (10003046, 95473447),
 (10014729, 13207737),
 (10014729, 76682399),
 (10019568, 44297942),
 (10019568, 53262809),
 (10019568, 64139050),
 (10019568, 94055099),
 (10025612, 6717157),
 (10000032, 51709037),
 (10000032, 79351218),
 (10001217, 5673990),
 (10001217, 12856328),
 (10001217, 17092485),
 (10001217, 17485596),
 (10001217, 36355815),
 (10001217, 56786718),
 (10001217, 58057140),
 (10001217, 58424231),
 (10001217, 60634111),
 (10001217, 61069611),
 (10001217, 63446108),
 (10001217, 69144118),
 (10001217, 71521885),
 (10001217, 73143914),
 (10001217, 74777093),
 (10001217, 80463443),
 (10001217, 87789132),
 (10001217, 93332380),
 (10001217, 94224066),
 (10001217, 96944796),
 (10001725, 13339164),
 (10001725, 68040989),
 (10001725, 81326492),
 (10002428, 382989),
 (10002428, 857609),
 (10002428, 1450369),
 (10002428, 1509511),
 (10002428, 1684773),
 (10002428, 1881421),
 (10002428, 1969364),
 (10002428, 2559646),
 (10002428, 2906154),
 (10002428, 9476063),
 (10002428, 13594484),
 (10002428, 14577777),
 (10002428, 17581191),
 (10002428, 18297718),
 (10002428, 18855943),
 (10002428, 19666494),
 (10002428, 19787977),
 (10002428, 24732826),
 (10002428, 28152733),
 (10002428, 31651654),
 (10002428, 32704266),
 (10002428, 34321897),
 (10002428, 34926805),
 (10002428, 37338150),
 (10002428, 40865444),
 (10002428, 41127537),
 (10002428, 42629152),
 (10002428, 44044937),
 (10002428, 45844401),
 (10002428, 45873783),
 (10002428, 46041130),
 (10002428, 46305326),
 (10002428, 47237626),
 (10002428, 47597501),
 (10002428, 53912022),
 (10002428, 55115458),
 (10002428, 60923737),
 (10002428, 63229264),
 (10002428, 64726440),
 (10002428, 71607694),
 (10002428, 72322283),
 (10002428, 74109331),
 (10002428, 75164592),
 (10002428, 76110085),
 (10002428, 77111848),
 (10002428, 78291698),
 (10002428, 78507514),
 (10002428, 78574546),
 (10002428, 78747949),
 (10002428, 79046882),
 (10002428, 80224496),
 (10002428, 81782812),
 (10002428, 83499355),
 (10002428, 83948302),
 (10002428, 85986007),
 (10002428, 87139554),
 (10002428, 88116030),
 (10002428, 89404976),
 (10002428, 91781550),
 (10002428, 92442277),
 (10002428, 96501406),
 (10002495, 8610163),
 (10002495, 15498863),
 (10002495, 25802498),
 (10002495, 37313753),
 (10002495, 40099815),
 (10002495, 41922244),
 (10002495, 42800347),
 (10002495, 48974302),
 (10002495, 49253238),
 (10002495, 70164568),
 (10002495, 85112533),
 (10002495, 92769126),
 (10002495, 96581643),
 (10002495, 96765264),
 (10002495, 99192274),
 (10002495, 99390129),
 (10002930, 12719492),
 (10002930, 58670766),
 (10002930, 66041510),
 (10002930, 73742092),
 (10002930, 77026136),
 (10003046, 3463569),
 (10003046, 12453643),
 (10003046, 16017757),
 (10003046, 27667763),
 (10003046, 28671265),
 (10003046, 35300882),
 (10003046, 41867534),
 (10003046, 44680877),
 (10003046, 48225635),
 (10003046, 48600422),
 (10003046, 52110960),
 (10003046, 62106830),
 (10003046, 69927781),
 (10003046, 69937472),
 (10003046, 72233139),
 (10003046, 78326701),
 (10003046, 84008579),
 (10003046, 85700017),
 (10003046, 87585468),
 (10003046, 93722037),
 (10003400, 1528872),
 (10003400, 1792333),
 (10003400, 2503228),
 (10003400, 2984868),
 (10003400, 3282011),
 (10003400, 5183553),
 (10003400, 6138106),
 (10003400, 6243079),
 (10003400, 7804864),
 (10003400, 9392923),
 (10003400, 9531667),
 (10003400, 10191556),
 (10003400, 10400981),
 (10003400, 11828878),
 (10003400, 12165073),
 (10003400, 12294320),
 (10003400, 13207588),
 (10003400, 14774767),
 (10003400, 15095774),
 (10003400, 15523447),
 (10003400, 15905354),
 (10003400, 16267108),
 (10003400, 16402274),
 (10003400, 16697343),
 (10003400, 16814224),
 (10003400, 17584594),
 (10003400, 19769792),
 (10003400, 21435661),
 (10003400, 22124487),
 (10003400, 22311404),
 (10003400, 23665008),
 (10003400, 24661883),
 (10003400, 26579240),
 (10003400, 28717980),
 (10003400, 30272964),
 (10003400, 31953246),
 (10003400, 32973137),
 (10003400, 33582453),
 (10003400, 34964962),
 (10003400, 35347379),
 (10003400, 35415916),
 (10003400, 35519105),
 (10003400, 35976474),
 (10003400, 36438703),
 (10003400, 37873146),
 (10003400, 40023024),
 (10003400, 40483551),
 (10003400, 41101139),
 (10003400, 41445626),
 (10003400, 41684928),
 (10003400, 43756745),
 (10003400, 43763185),
 (10003400, 45577647),
 (10003400, 45636244),
 (10003400, 45923210),
 (10003400, 47798868),
 (10003400, 49931305),
 (10003400, 50870319),
 (10003400, 51600762),
 (10003400, 53283846),
 (10003400, 55162972),
 (10003400, 56240777),
 (10003400, 56734315),
 (10003400, 56773884),
 (10003400, 57005653),
 (10003400, 58020631),
 (10003400, 58605784),
 (10003400, 58836741),
 (10003400, 58862410),
 (10003400, 59297376),
 (10003400, 59539105),
 (10003400, 59757569),
 (10003400, 60089319),
 (10003400, 60366940),
 (10003400, 60941433),
 (10003400, 61899138),
 (10003400, 62019286),
 (10003400, 62220913),
 (10003400, 62740535),
 (10003400, 64405862),
 (10003400, 66358941),
 (10003400, 67670727),
 (10003400, 67884402),
 (10003400, 70364939),
 (10003400, 71529225),
 (10003400, 72678416),
 (10003400, 75329741),
 (10003400, 76394389),
 (10003400, 77722910),
 (10003400, 80574636),
 (10003400, 80608821),
 (10003400, 80673361),
 (10003400, 80676066),
 (10003400, 80726743),
 (10003400, 81626234),
 (10003400, 81923851),
 (10003400, 81981576),
 (10003400, 82236431),
 (10003400, 83315113),
 (10003400, 85376290),
 (10003400, 87464134),
 (10003400, 88941940),
 (10003400, 88987771),
 (10003400, 89530412),
 (10003400, 90198911),
 (10003400, 90792440),
 (10003400, 91067201),
 (10003400, 92480513),
 (10003400, 92482167),
 (10003400, 92670624),
 (10003400, 97560283),
 (10003400, 97881332),
 (10003400, 98275033),
 (10003400, 99137332),
 (10003400, 99223829),
 (10003400, 99342459),
 (10003400, 99938576),
 (10004235, 1976077),
 (10004235, 6219513),
 (10004235, 10665182),
 (10004235, 11630409),
 (10004235, 12202492),
 (10004235, 12335394),
 (10004235, 15243514),
 (10004235, 15589999),
 (10004235, 16644098),
 (10004235, 18175716),
 (10004235, 20886849),
 (10004235, 21970749),
 (10004235, 24344195),
 (10004235, 25451352),
 (10004235, 25505843),
 (10004235, 25515328),
 (10004235, 25671789),
 (10004235, 29122344),
 (10004235, 29159067),
 (10004235, 32337889),
 (10004235, 32798944),
 (10004235, 35382784),
 (10004235, 37199300),
 (10004235, 37942801),
 (10004235, 39616773),
 (10004235, 40512924),
 (10004235, 41053534),
 (10004235, 47267540),
 (10004235, 48922884),
 (10004235, 50503839),
 (10004235, 50739015),
 (10004235, 56182984),
 (10004235, 57410461),
 (10004235, 58651517),
 (10004235, 58823311),
 (10004235, 59498561),
 (10004235, 60356649),
 (10004235, 61557782),
 (10004235, 64843170),
 (10004235, 67101085),
 (10004235, 68667795),
 (10004235, 69221087),
 (10004235, 70544367),
 (10004235, 71584182),
 (10004235, 73005720),
 (10004235, 73497758),
 (10004235, 74755699),
 (10004235, 74993328),
 (10004235, 75800738),
 (10004235, 76058005),
 (10004235, 76483010),
 (10004235, 81015155),
 (10004235, 82961252),
 (10004235, 83080038),
 (10004235, 83659726),
 (10004235, 84659853),
 (10004235, 85710981),
 (10004235, 86333907),
 (10004235, 91628450),
 (10004235, 92598189),
 (10004235, 92998810),
 (10004235, 94292649),
 (10004235, 95664059),
 (10004235, 95846492),
 (10004235, 98120618),
 (10004235, 98255775),
 (10004235, 98643265),
 (10004235, 99170442),
 (10004235, 99834354),
 (10004422, 8615589),
 (10004422, 20185493),
 (10004422, 28956949),
 (10004422, 34428916),
 (10004422, 37794082),
 (10004422, 39622136),
 (10004422, 55763590),
 (10004422, 57001081),
 (10004422, 59555490),
 (10004422, 59798644),
 (10004422, 75007963),
 (10004422, 79816123),
 (10004422, 80980361),
 (10004422, 84773883),
 (10004422, 95338950),
 (10004422, 95494339),
 (10004457, 14097942),
 (10004457, 14586646),
 (10004457, 14997911),
 (10004457, 19757239),
 (10004457, 20560290),
 (10004457, 23446650),
 (10004457, 35769800),
 (10004457, 45280986),
 (10004457, 52579123),
 (10004457, 53824132),
 (10004457, 59355942),
 (10004457, 69766996),
 (10004457, 88284019),
 (10004457, 92691181),
 (10004457, 99597209),
 (10004720, 2966265),
 (10004720, 5375271),
 (10004720, 21435864),
 (10004720, 23578340),
 (10004720, 31431244),
 (10004720, 36653819),
 (10004720, 40802921),
 (10004720, 45909330),
 (10004720, 55128840),
 (10004720, 63311147),
 (10004720, 73804212),
 (10004720, 74546705),
 (10004720, 74679402),
 (10004720, 76293233),
 (10004720, 77525318),
 (10004720, 78825120),
 (10004720, 81085934),
 (10004720, 85036564),
 (10004720, 86875890),
 (10004720, 91319245),
 (10004720, 98040331),
 (10004720, 99623274),
 (10004733, 2501554),
 (10004733, 6949257),
 (10004733, 7922793),
 (10004733, 16717659),
 (10004733, 17338224),
 (10004733, 18290389),
 (10004733, 18693989),
 (10004733, 20209135),
 (10004733, 22029605),
 (10004733, 28149673),
 (10004733, 29453499),
 (10004733, 35486678),
 (10004733, 37673168),
 (10004733, 37933635),
 (10004733, 38320818),
 (10004733, 42366687),
 (10004733, 43215427),
 (10004733, 51533901),
 (10004733, 52168583),
 (10004733, 55390716),
 (10004733, 56991299),
 (10004733, 60789446),
 (10004733, 68424763),
 (10004733, 71380749),
 (10004733, 71957747),
 (10004733, 72245799),
 (10004733, 74789164),
 (10004733, 76724622),
 (10004733, 85576045),
 (10004733, 86556055),
 (10004733, 91521200),
 (10004733, 93537812),
 (10004733, 93755075),
 (10004733, 94359384),
 (10004733, 98492064),
 (10005348, 15163464),
 (10005348, 20696072),
 (10005348, 30536619),
 (10005348, 37498169),
 (10005348, 41870863),
 (10005348, 58263642),
 (10005348, 59091664),
 (10005348, 59792139),
 (10005348, 64754205),
 (10005348, 70215651),
 (10005348, 77519601),
 (10005348, 90080068),
 (10005348, 92335319),
 (10005348, 92400256),
 (10005817, 1314198),
 (10005817, 1863924),
 (10005817, 1908629),
 (10005817, 4166147),
 (10005817, 4240814),
 (10005817, 5863433),
 (10005817, 7240004),
 (10005817, 7344447),
 (10005817, 7598243),
 (10005817, 8742978),
 (10005817, 9645274),
 (10005817, 10019967),
 (10005817, 11113362),
 (10005817, 12608032),
 (10005817, 15323376),
 (10005817, 15696431),
 (10005817, 17087694),
 (10005817, 21811808),
 (10005817, 22086132),
 (10005817, 22255452),
 (10005817, 24655652),
 (10005817, 26587029),
 (10005817, 26848241),
 (10005817, 27113435),
 (10005817, 28943185),
 (10005817, 30525280),
 (10005817, 30783308),
 (10005817, 31483187),
 (10005817, 31626909),
 (10005817, 32355613),
 (10005817, 34452117),
 (10005817, 34824515),
 (10005817, 35437944),
 (10005817, 35632024),
 (10005817, 35748194),
 (10005817, 36094246),
 (10005817, 36912512),
 (10005817, 36917448),
 (10005817, 37677228),
 (10005817, 38878781),
 (10005817, 38924462),
 (10005817, 39486925),
 (10005817, 40093024),
 (10005817, 40250817),
 (10005817, 46586563),
 (10005817, 48566092),
 (10005817, 49250726),
 (10005817, 49425037),
 (10005817, 51888789),
 (10005817, 52634769),
 (10005817, 53106378),
 (10005817, 54490168),
 (10005817, 56029084),
 (10005817, 58032120),
 (10005817, 58293807),
 (10005817, 59062085),
 (10005817, 61191792),
 (10005817, 61344097),
 (10005817, 62269421),
 (10005817, 62383014),
 (10005817, 62634540),
 (10005817, 63393256),
 (10005817, 63660629),
 (10005817, 63930812),
 (10005817, 64536204),
 (10005817, 65155010),
 (10005817, 66160050),
 (10005817, 66414143),
 (10005817, 70472279),
 (10005817, 73398343),
 (10005817, 76820818),
 (10005817, 76839560),
 (10005817, 78270368),
 (10005817, 81750901),
 (10005817, 81978685),
 (10005817, 84773855),
 (10005817, 84867065),
 (10005817, 85892872),
 (10005817, 88749290),
 (10005817, 90768698),
 (10005817, 91461661),
 (10005817, 91537681),
 (10005817, 92451029),
 (10005817, 93081620),
 (10005817, 95082791),
 (10005817, 96765098),
 (10005817, 97027817),
 (10005817, 97133499),
 (10005817, 97556353),
 (10005817, 97910377),
 (10005817, 98854908),
 (10005817, 98960157),
 (10005866, 1960472),
 (10005866, 2510151),
 (10005866, 3225442),
 (10005866, 3529979),
 (10005866, 3726780),
 (10005866, 3792396),
 (10005866, 4185357),
 (10005866, 6714700),
 (10005866, 6842508),
 (10005866, 10330587),
 (10005866, 14551605),
 (10005866, 16688017),
 (10005866, 19057840),
 (10005866, 21747758),
 (10005866, 21970567),
 (10005866, 22980949),
 (10005866, 25203973),
 (10005866, 27059315),
 (10005866, 28819730),
 (10005866, 30087500),
 (10005866, 31533157),
 (10005866, 34183649),
 (10005866, 35519204),
 (10005866, 36465019),
 (10005866, 37232459),
 (10005866, 38774233),
 (10005866, 39915616),
 (10005866, 40279696),
 (10005866, 41365488),
 (10005866, 42100674),
 (10005866, 42433050),
 (10005866, 44413336),
 (10005866, 45083945),
 (10005866, 45807960),
 (10005866, 46971427),
 (10005866, 48437513),
 (10005866, 52133092),
 (10005866, 52674916),
 (10005866, 52995376),
 (10005866, 53207211),
 (10005866, 54787645),
 (10005866, 55044410),
 (10005866, 55967225),
 (10005866, 57026468),
 (10005866, 60826440),
 (10005866, 61305476),
 (10005866, 61636573),
 (10005866, 62831098),
 (10005866, 63061226),
 (10005866, 65214791),
 (10005866, 65583167),
 (10005866, 68789321),
 (10005866, 69082797),
 (10005866, 73057723),
 (10005866, 73070597),
 (10005866, 74923737),
 (10005866, 74951720),
 (10005866, 76039773),
 (10005866, 76191128),
 (10005866, 78072514),
 (10005866, 78771024),
 (10005866, 79581981),
 (10005866, 80236920),
 (10005866, 80263159),
 (10005866, 81330070),
 (10005866, 82623116),
 (10005866, 82792389),
 (10005866, 84532071),
 (10005866, 84590202),
 (10005866, 84870303),
 (10005866, 86009887),
 (10005866, 87877685),
 (10005866, 91892527),
 (10005866, 92510681),
 (10005866, 92862225),
 (10005866, 93842991),
 (10005866, 97625737),
 (10005866, 98471031),
 (10005866, 98816002),
 (10005909, 16079765),
 (10005909, 21196037),
 (10005909, 23703434),
 (10005909, 27194794),
 (10005909, 36686597),
 (10005909, 48828737),
 (10005909, 59236288),
 (10005909, 61665676),
 (10005909, 67829548),
 (10005909, 73631855),
 (10005909, 92323335),
 (10005909, 96110427),
 (10005909, 99250773),
 (10006053, 5839028),
 (10006053, 6719152),
 (10006053, 19363528),
 (10006053, 19823965),
 (10006053, 26722515),
 (10006053, 32216707),
 (10006053, 39163689),
 (10006053, 41263912),
 (10006053, 48769558),
 (10006053, 56196518),
 (10006053, 57113283),
 (10006053, 62831995),
 (10006053, 63220092),
 (10006053, 66604511),
 (10006053, 66767386),
 (10006053, 70036135),
 (10006053, 71986430),
 (10006053, 74932324),
 (10006053, 80755957),
 (10006053, 82364947),
 (10006053, 92877909),
 (10006053, 97344918),
 (10006053, 99959817),
 (10006580, 35559144),
 (10006580, 45399755),
 (10006580, 54246229),
 (10006580, 63142586),
 (10006580, 76664876),
 (10006580, 85403401),
 (10006580, 93571973),
 (10007058, 5224131),
 (10007058, 11400516),
 (10007058, 28402716),
 (10007058, 35387819),
 (10007058, 55815687),
 (10007058, 64039722),
 (10007058, 71969468),
 (10007058, 79094507),
 (10007795, 1149355),
 (10007795, 3727234),
 (10007795, 4096241),
 (10007795, 4975387),
 (10007795, 10144367),
 (10007795, 14665711),
 (10007795, 15783342),
 (10007795, 16750085),
 (10007795, 18133815),
 (10007795, 20634086),
 (10007795, 20968901),
 (10007795, 21177926),
 (10007795, 24676601),
 (10007795, 31872954),
 (10007795, 32205928),
 (10007795, 32359599),
 (10007795, 32943609),
 (10007795, 33583499),
 (10007795, 36562749),
 (10007795, 38811198),
 (10007795, 39065687),
 (10007795, 51033588),
 (10007795, 52590195),
 (10007795, 54122733),
 (10007795, 60006528),
 (10007795, 61122339),
 (10007795, 63668964),
 (10007795, 65168151),
 (10007795, 68293960),
 (10007795, 68578659),
 (10007795, 70625456),
 (10007795, 72441597),
 (10007795, 74110115),
 (10007795, 74618088),
 (10007795, 78360476),
 (10007795, 79983571),
 (10007795, 81291189),
 (10007795, 84125929),
 (10007795, 85888128),
 (10007795, 87512113),
 (10007795, 89293058),
 (10007795, 90360031),
 (10007795, 92337973),
 (10007795, 92502031),
 (10007795, 92738721),
 (10007795, 95453210),
 (10007795, 97914748),
 (10007795, 99864024),
 (10007818, 170121),
 (10007818, 1864464),
 (10007818, 4233733),
 (10007818, 4996051),
 (10007818, 5184084),
 (10007818, 5314141),
 (10007818, 5389440),
 (10007818, 6330630),
 (10007818, 7308587),
 (10007818, 9366275),
 (10007818, 9758340),
 (10007818, 9779789),
 (10007818, 12933002),
 (10007818, 13844785),
 (10007818, 15490279),
 (10007818, 17558517),
 (10007818, 17802368),
 (10007818, 18631745),
 (10007818, 19079491),
 (10007818, 19328237),
 (10007818, 21182963),
 (10007818, 21835730),
 (10007818, 23973188),
 (10007818, 25113442),
 (10007818, 27278124),
 (10007818, 29939590),
 (10007818, 30133511),
 (10007818, 31959909),
 (10007818, 33142635),
 (10007818, 36978435),
 (10007818, 38741175),
 (10007818, 39055155),
 (10007818, 39380528),
 (10007818, 39416276),
 (10007818, 39792411),
 (10007818, 40816271),
 (10007818, 42389426),
 (10007818, 42810514),
 (10007818, 43228880),
 (10007818, 46684318),
 (10007818, 46743859),
 (10007818, 46968031),
 (10007818, 50287924),
 (10007818, 51202971),
 (10007818, 51514358),
 (10007818, 52655447),
 (10007818, 54332377),
 (10007818, 54498292),
 (10007818, 56008608),
 (10007818, 57359215),
 (10007818, 57686158),
 (10007818, 60197778),
 (10007818, 61403749),
 (10007818, 61975721),
 (10007818, 62480499),
 (10007818, 63446462),
 (10007818, 66403339),
 (10007818, 70088746),
 (10007818, 78012777),
 (10007818, 78617625),
 (10007818, 79757076),
 (10007818, 80684585),
 (10007818, 87197253),
 (10007818, 88512571),
 (10007818, 89216061),
 (10007818, 89963358),
 (10007818, 90490840),
 (10007818, 91007680),
 (10007818, 91101389),
 (10007818, 95182446),
 (10007818, 95956454),
 (10007818, 96696317),
 (10007818, 96876343),
 (10007818, 97027212),
 (10007818, 97154078),
 (10007818, 98312994),
 (10007818, 98356889),
 (10007818, 98944189),
 (10007818, 99357761),
 (10007818, 99827305),
 (10007928, 27558242),
 (10007928, 39762707),
 (10007928, 48765512),
 (10007928, 51630084),
 (10007928, 52218732),
 (10007928, 57321507),
 (10007928, 57464399),
 (10007928, 63263614),
 (10007928, 65781805),
 (10007928, 69250666),
 (10007928, 72851107),
 (10007928, 75965291),
 (10007928, 76350994),
 (10007928, 93696893),
 (10007928, 98142512),
 (10007928, 99663342),
 (10008287, 9438525),
 (10008287, 17503600),
 (10008287, 19058405),
 (10008287, 21021790),
 (10008287, 37860298),
 (10008287, 53740104),
 (10008287, 55259115),
 (10008287, 57960268),
 (10008287, 58907316),
 (10008287, 62207278),
 (10008287, 63180207),
 (10008287, 72674438),
 (10008287, 75761485),
 (10008287, 96686052),
 (10008287, 96871410),
 (10008287, 99513115),
 (10008454, 2733347),
 (10008454, 4815047),
 (10008454, 5518860),
 (10008454, 6550303),
 (10008454, 9216711),
 (10008454, 9788525),
 (10008454, 16164336),
 (10008454, 22237529),
 (10008454, 22539998),
 (10008454, 23051771),
 (10008454, 26181556),
 (10008454, 28063585),
 (10008454, 34383866),
 (10008454, 38462810),
 (10008454, 39048019),
 (10008454, 39310514),
 (10008454, 47013127),
 (10008454, 49005470),
 (10008454, 52823708),
 (10008454, 66079713),
 (10008454, 81019570),
 (10008454, 83101506),
 (10009035, 5631702),
 (10009035, 34119975),
 (10009035, 36969441),
 (10009035, 39877056),
 (10009035, 55266014),
 (10009035, 72738279),
 (10009035, 78820545),
 (10009035, 82804297),
 (10009035, 90077533),
 (10009049, 1654277),
 (10009049, 5498786),
 (10009049, 46683628),
 (10009049, 55851574),
 (10009049, 61028259),
 (10009049, 89467682),
 (10009628, 5481640),
 (10009628, 11930036),
 (10009628, 13663981),
 (10009628, 31661318),
 (10009628, 44324057),
 (10009628, 49767583),
 (10009628, 51905031),
 (10009628, 57103469),
 (10009628, 59532810),
 (10009628, 59935940),
 (10009628, 69435178),
 (10009628, 71493819),
 (10009628, 73883866),
 (10009628, 74859937),
 (10009628, 85864509),
 (10009628, 86121889),
 (10009628, 86967496),
 (10009628, 89985447),
 (10009628, 91734438),
 (10009628, 92381358),
 (10009628, 93932848),
 (10010471, 4199295),
 (10010471, 9277101),
 (10010471, 18626121),
 (10010471, 22987190),

**Intermediate q10**

In [198]:
%%sql
select distinct on (subject_id) subject_id,hadm_id,admittime
from hosp.admissions
order by subject_id,admittime

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
100 rows affected.

[(10000032, 22595853, '2180-05-06 22:23:00'),
 (10001217, 24597018, '2157-11-18 22:56:00'),
 (10001725, 25563031, '2110-04-11 15:08:00'),
 (10002428, 25797028, '2155-07-14 19:15:00'),
 (10002495, 24982426, '2141-05-22 20:17:00'),
 (10002930, 22380825, '2193-08-05 06:18:00'),
 (10003046, 26048429, '2154-01-02 07:15:00'),
 (10003400, 26090619, '2134-06-06 02:25:00'),
 (10004235, 24181354, '2196-02-24 14:38:00'),
 (10004422, 21255400, '2111-01-15 14:55:00'),
 (10004457, 21039249, '2140-09-17 13:41:00'),
 (10004720, 22081550, '2186-11-12 18:01:00'),
 (10004733, 27411876, '2174-12-04 11:28:00'),
 (10005348, 29496232, '2128-09-05 08:30:00'),
 (10005817, 20626031, '2132-12-12 01:43:00'),
 (10005866, 26158160, '2146-06-06 00:50:00'),
 (10005909, 20199380, '2144-10-28 23:20:00'),
 (10006053, 22942076, '2111-11-13 23:39:00'),
 (10006580, 24159665, '2137-08-10 11:00:00'),
 (10007058, 22954658, '2167-11-07 19:05:00'),
 (10007795, 28477357, '2136-04-10 20:33:00'),
 (10007818, 22987108, '2146-06-10 16:37:00'),
 (10007928, 20338077, '2129-04-05 22:56:00'),
 (10008287, 22168393, '2145-09-28 01:17:00'),
 (10008454, 20291550, '2110-11-30 06:31:00'),
 (10009035, 28324362, '2161-04-27 07:15:00'),
 (10009049, 22995465, '2174-05-26 08:21:00'),
 (10009628, 25926192, '2153-09-17 17:08:00'),
 (10010471, 21322534, '2155-05-08 17:05:00'),
 (10010867, 22429197, '2147-12-30 08:40:00'),
 (10011398, 27505812, '2146-12-15 07:15:00'),
 (10012552, 27089790, '2140-03-22 17:18:00'),
 (10012853, 26369609, '2175-04-05 15:36:00'),
 (10013049, 22675517, '2114-06-20 10:15:00'),
 (10014078, 25809882, '2166-08-21 23:09:00'),
 (10014354, 22741225, '2146-10-08 23:47:00'),
 (10014729, 28889419, '2125-02-27 07:15:00'),
 (10015272, 27993466, '2137-06-12 18:36:00'),
 (10015860, 25085565, '2186-09-15 16:12:00'),
 (10015931, 28157142, '2176-11-14 18:02:00'),
 (10016150, 29374560, '2142-05-10 15:05:00'),
 (10016742, 29281842, '2178-07-03 21:13:00'),
 (10016810, 20973395, '2185-06-16 01:31:00'),
 (10017492, 27672872, '2114-03-19 20:05:00'),
 (10018081, 21027282, '2133-12-18 16:58:00'),
 (10018328, 26706939, '2154-02-05 21:58:00'),
 (10018423, 29366372, '2167-05-03 21:24:00'),
 (10018501, 28479513, '2141-07-30 22:34:00'),
 (10018845, 21101111, '2184-10-08 02:28:00'),
 (10019003, 28003918, '2148-12-21 07:15:00'),
 (10019172, 21540783, '2118-10-08 14:00:00'),
 (10019385, 20297618, '2180-02-15 20:28:00'),
 (10019568, 28710730, '2120-01-30 21:07:00'),
 (10019777, 27738145, '2187-02-10 18:57:00'),
 (10019917, 22585261, '2182-01-07 23:25:00'),
 (10020187, 24104168, '2169-01-15 04:04:00'),
 (10020306, 28778757, '2129-10-29 08:00:00'),
 (10020640, 27984218, '2153-02-13 00:22:00'),
 (10020740, 23831430, '2150-03-11 15:34:00'),
 (10020786, 23488445, '2189-06-09 12:45:00'),
 (10020944, 29974575, '2131-02-27 15:34:00'),
 (10021118, 24490144, '2161-11-15 20:10:00'),
 (10021312, 25020332, '2113-08-16 00:32:00'),
 (10021487, 28998349, '2116-12-03 00:23:00'),
 (10021666, 22756440, '2172-03-12 23:47:00'),
 (10021938, 23112364, '2181-10-13 01:48:00'),
 (10022017, 22342963, '2189-09-10 00:00:00'),
 (10022041, 28909879, '2187-05-18 17:08:00'),
 (10022281, 29642388, '2125-06-17 04:11:00'),
 (10022880, 27708593, '2177-03-12 07:15:00'),
 (10023117, 29839885, '2170-10-08 07:15:00'),
 (10023239, 29295881, '2137-06-19 17:35:00'),
 (10023771, 20044587, '2113-08-25 07:15:00'),
 (10024043, 25561728, '2117-02-03 20:10:00'),
 (10025463, 27327816, '2136-10-31 07:15:00'),
 (10025612, 23403708, '2125-09-25 07:15:00'),
 (10026255, 20437651, '2200-09-17 22:53:00'),
 (10026354, 24547356, '2119-10-26 07:11:00'),
 (10026406, 25260176, '2129-01-03 15:55:00'),
 (10027445, 26275841, '2142-07-31 00:32:00'),
 (10027602, 28166872, '2201-10-30 12:05:00'),
 (10029291, 22205327, '2123-02-20 01:59:00'),
 (10029484, 20764029, '2160-11-08 04:16:00'),
 (10031404, 21606243, '2113-08-04 18:46:00'),
 (10031757, 28477280, '2137-10-12 22:43:00'),
 (10032725, 25177949, '2143-02-17 14:20:00'),
 (10035185, 22580999, '2120-05-12 12:53:00'),
 (10035631, 29462354, '2112-09-17 19:13:00'),
 (10036156, 28019404, '2157-07-01 04:52:00'),
 (10037861, 24256866, '2115-10-09 20:28:00'),
 (10037928, 28543425, '2175-10-26 01:31:00'),
 (10037975, 27617929, '2185-01-17 19:11:00'),
 (10038081, 20755971, '2115-09-27 20:40:00'),
 (10038933, 25129047, '2148-09-10 12:09:00'),
 (10038992, 22797747, '2185-11-02 18:26:00'),
 (10038999, 27189241, '2131-05-22 21:49:00'),
 (10039708, 20572787, '2138-10-30 23:30:00'),
 (10039831, 26924951, '2115-12-28 07:15:00'),
 (10039997, 24294180, '2134-09-07 12:00:00'),
 (10040025, 27125816, '2143-03-18 12:34:00')]

**distinct first admission patient with kidney problem**

In [210]:
%%sql
with first_admission as (
	select distinct on (subject_id) subject_id,hadm_id,admittime as first_admittime
	from hosp.admissions
	order by subject_id,admittime
)
select distinct first_admission.subject_id,first_admission.hadm_id,first_admittime
from hosp.d_icd_diagnoses join hosp.diagnoses_icd on hosp.d_icd_diagnoses.icd_code=hosp.diagnoses_icd.icd_code and hosp.d_icd_diagnoses.icd_version=hosp.diagnoses_icd.icd_version join first_admission on hosp.diagnoses_icd.hadm_id=first_admission.hadm_id
where long_title ILIKE '%kidney%'
order by first_admittime desc

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
27 rows affected.

[(10004235, 24181354, '2196-02-24 14:38:00'),
 (10038992, 22797747, '2185-11-02 18:26:00'),
 (10037975, 27617929, '2185-01-17 19:11:00'),
 (10018845, 21101111, '2184-10-08 02:28:00'),
 (10021938, 23112364, '2181-10-13 01:48:00'),
 (10016742, 29281842, '2178-07-03 21:13:00'),
 (10015931, 28157142, '2176-11-14 18:02:00'),
 (10012853, 26369609, '2175-04-05 15:36:00'),
 (10004733, 27411876, '2174-12-04 11:28:00'),
 (10009049, 22995465, '2174-05-26 08:21:00'),
 (10021666, 22756440, '2172-03-12 23:47:00'),
 (10029484, 20764029, '2160-11-08 04:16:00'),
 (10010471, 21322534, '2155-05-08 17:05:00'),
 (10020740, 23831430, '2150-03-11 15:34:00'),
 (10007818, 22987108, '2146-06-10 16:37:00'),
 (10040025, 27125816, '2143-03-18 12:34:00'),
 (10032725, 25177949, '2143-02-17 14:20:00'),
 (10016150, 29374560, '2142-05-10 15:05:00'),
 (10002495, 24982426, '2141-05-22 20:17:00'),
 (10018081, 21027282, '2133-12-18 16:58:00'),
 (10020944, 29974575, '2131-02-27 15:34:00'),
 (10029291, 22205327, '2123-02-20 01:59:00'),
 (10021487, 28998349, '2116-12-03 00:23:00'),
 (10037861, 24256866, '2115-10-09 20:28:00'),
 (10038081, 20755971, '2115-09-27 20:40:00'),
 (10031404, 21606243, '2113-08-04 18:46:00'),
 (10006053, 22942076, '2111-11-13 23:39:00')]