In [1]:
!pip install ipython-sql psycopg2

Requirement already satisfied: ipython-sql in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: psycopg2 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (2.9.10)
Requirement already satisfied: prettytable in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [2]:
%load_ext sql

``` psql -U postgres```
``` postgres=# create database ass1_db_v1;```
``` postgres=# exit```
``` psql -U postgres -W -d ass1_db_v1 -f db_updated.sql```

In [3]:
%sql postgresql://postgres:070804@localhost:5432/ass1_db_v1

**Basic q1**

In [11]:
%%sql select subject_id
from hosp.patients
where anchor_age>89 and gender='F'
order by subject_id

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
2 rows affected.

[(10012853,), (10020640,)]

**Basic q2**

In [24]:
%%sql select count(distinct subject_id), substring(admittime,1,4) as year
from hosp.admissions
group by year
order by count desc
limit 5;

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
5 rows affected.

[(7, '2148'), (7, '2137'), (4, '2113'), (4, '2115'), (4, '2129')]

**Basic q3**

**doesn't fit what sir said**

In [ ]:
%%sql select hadm_id,gender,TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS')-TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS') as duration
from hosp.admissions join hosp.patients on hosp.admissions.subject_id=hosp.patients.subject_id
where dischtime is not null
order by duration,hadm_id

**fits what sir said, not crrt as per piazza**

In [ ]:
%%sql
select 
    hadm_id,
    gender,
    case
        when extract(day from (TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) = 1 THEN
            '1 days, ' || TO_CHAR((TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS')), 'HH24:MI:SS')
        when extract(day from (TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) < 1 THEN
            '0 days, ' || TO_CHAR((TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS')), 'HH24:MI:SS')
        else
            extract(day FROM (TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) || ' days, ' || TO_CHAR((TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS')), 'HH24:MI:SS')
    end as duration
from hosp.admissions join hosp.patients on hosp.admissions.subject_id=hosp.patients.subject_id
where dischtime is not null
order by duration,hadm_id

**Basic q4**

In [ ]:
%%sql select enter_provider_id,count(distinct medication) as count
from hosp.emar
where enter_provider_id is not null
group by enter_provider_id
order by count desc

**Basic q5**

In [ ]:
%%sql select *
from hosp.admissions
where marital_status<>'MARRIED'

In [ ]:
%%sql select reason_for_no_barcode
from hosp.emar_detail
where reason_for_no_barcode = 'Barcode Damaged'
limit 5;

In [59]:
%%sql select count(distinct hosp.admissions.hadm_id)
from hosp.admissions join hosp.emar on hosp.admissions.hadm_id=hosp.emar.hadm_id join hosp.emar_detail on hosp.emar.emar_id=hosp.emar_detail.emar_id
where reason_for_no_barcode='Barcode Damaged' and marital_status<>'MARRIED'

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
1 rows affected.

[(53,)]

**Basic q6**

In [ ]:
%%sql select hosp.patients.subject_id,count(*)
from icu.icustays right outer join hosp.patients on icu.icustays.subject_id=hosp.patients.subject_id
group by hosp.patients.subject_id
order by count,hosp.patients.subject_id

**Basic q7**

In [82]:
%%sql select *
from hosp.patients join hosp.admissions on hosp.patients.subject_id=hosp.admissions.subject_id
where dod is not null and hosp.patients.subject_id = '10005817'

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
2 rows affected.

[(10005817, 'M', 66, 2132, '2014 - 2016', '2135-01-19', 10005817, 20626031, '2132-12-12 01:43:00', '2132-12-20 15:04:00', None, 'URGENT', 'P41R5N', 'TRANSFER FROM HOSPITAL', 'HOME HEALTH CARE', 'Medicare', 'ENGLISH', 'MARRIED', 'WHITE', None, None, 0),
 (10005817, 'M', 66, 2132, '2014 - 2016', '2135-01-19', 10005817, 28661809, '2135-01-03 21:54:00', '2135-01-19 18:36:00', '2135-01-19 18:36:00', 'OBSERVATION ADMIT', 'P7554I', 'TRANSFER FROM HOSPITAL', 'DIED', 'Medicare', 'ENGLISH', 'MARRIED', 'WHITE', None, None, 1)]