In [3]:
!pip install ipython-sql psycopg2

Requirement already satisfied: ipython-sql in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: psycopg2 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (2.9.10)
Requirement already satisfied: prettytable in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\sarth\onedrive\desktop\sems\sem6\col362\inclasstutorials\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [4]:
%load_ext sql

``` psql -U postgres```
``` postgres=# create database ass1_db_v1;```
``` postgres=# exit```
``` psql -U postgres -W -d ass1_db_v1 -f db_updated.sql```

In [5]:
%sql postgresql://postgres:070804@localhost:5432/ass1_db_v1

**Basic q1**

In [11]:
%%sql select subject_id
from hosp.patients
where anchor_age>89 and gender='F'
order by subject_id

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
2 rows affected.

[(10012853,), (10020640,)]

**Basic q2**

In [24]:
%%sql select count(distinct subject_id), substring(admittime,1,4) as year
from hosp.admissions
group by year
order by count desc
limit 5;

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
5 rows affected.

[(7, '2148'), (7, '2137'), (4, '2113'), (4, '2115'), (4, '2129')]

**Basic q3**

**doesn't fit what sir said**

In [ ]:
%%sql select hadm_id,gender,TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS')-TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS') as duration
from hosp.admissions join hosp.patients on hosp.admissions.subject_id=hosp.patients.subject_id
where dischtime is not null
order by duration,hadm_id

**fits what sir said, not crrt as per piazza**

In [ ]:
%%sql
select 
    hadm_id,
    gender,
    case
        when extract(day from (TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) = 1 THEN
            '1 days, ' || TO_CHAR((TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS')), 'HH24:MI:SS')
        when extract(day from (TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) < 1 THEN
            '0 days, ' || TO_CHAR((TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS')), 'HH24:MI:SS')
        else
            extract(day FROM (TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) || ' days, ' || TO_CHAR((TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS') - TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS')), 'HH24:MI:SS')
    end as duration
from hosp.admissions join hosp.patients on hosp.admissions.subject_id=hosp.patients.subject_id
where dischtime is not null
order by duration,hadm_id

**Basic q4**

In [ ]:
%%sql select enter_provider_id,count(distinct medication) as count
from hosp.emar
where enter_provider_id is not null
group by enter_provider_id
order by count desc

**Basic q5**

In [ ]:
%%sql select *
from hosp.admissions
where marital_status<>'MARRIED'

In [ ]:
%%sql select reason_for_no_barcode
from hosp.emar_detail
where reason_for_no_barcode = 'Barcode Damaged'
limit 5;

In [9]:
%%sql select count(distinct hosp.admissions.hadm_id)
from hosp.admissions join hosp.emar on hosp.admissions.hadm_id=hosp.emar.hadm_id join hosp.emar_detail on hosp.emar.emar_id=hosp.emar_detail.emar_id
where reason_for_no_barcode='Barcode Damaged' and marital_status<>'MARRIED'

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
1 rows affected.

[(53,)]

**Basic q6**

In [ ]:
%%sql select hosp.patients.subject_id,count(*)
from icu.icustays right outer join hosp.patients on icu.icustays.subject_id=hosp.patients.subject_id
group by hosp.patients.subject_id
order by count,hosp.patients.subject_id

**Basic q7**

In [ ]:
%%sql select hosp.patients.subject_id,max(hadm_id) as latest_hadm_id,dod
from hosp.patients join hosp.admissions on hosp.patients.subject_id=hosp.admissions.subject_id
where dod is not null
group by hosp.patients.subject_id,dod
order by subject_id

**Basic q8**

In [ ]:
%%sql select distinct pharmacy_id
from hosp.pharmacy

In [ ]:
%%sql select distinct pharmacy_id
from hosp.prescriptions

In [ ]:
%%sql 
select pharmacy_id
from (
	select distinct pharmacy_id /*here distinct not needed*/
	from hosp.pharmacy
	except
	select distinct pharmacy_id /*here distinct needed*/
	from hosp.prescriptions
) as a
order by pharmacy_id

**Basic q9**

In [ ]:
%%sql select distinct icd_code,icd_version
from hosp.diagnoses_icd

In [ ]:
%%sql select distinct icd_code,icd_version
from hosp.procedures_icd

In [35]:
%%sql
select icd_code,icd_version
from (
	select distinct icd_code,icd_version /*here distinct needed*/
	from hosp.diagnoses_icd
	intersect
	select distinct icd_code,icd_version /*here distinct needed*/
	from hosp.procedures_icd
) as a
order by icd_code,icd_version

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
2 rows affected.

[('5187', 9), ('9962', 9)]

**Basic q10**

In [ ]:
%%sql
select hcpcs_cd,short_description
from hosp.hcpcsevents
where short_description ILIKE '%Hospital observation%'-- short description has 'Hospital observation' as substring (case-insensitive)
order by hcpcs_cd,short_description

**Intermediate q1**

**method-1**

In [ ]:
%%sql
select o.subject_id,o.hadm_id,i.dod
from hosp.admissions as o
join(
	select hosp.patients.subject_id,min(hosp.admissions.admittime) as earliest_admittime,hosp.patients.dod
	from hosp.patients
	join hosp.admissions on hosp.patients.subject_id=hosp.admissions.subject_id
	where dod is not null
	group by hosp.patients.subject_id,hosp.patients.dod
) as i
on o.subject_id=i.subject_id and o.admittime=i.earliest_admittime
order by o.subject_id

**method-2**

In [ ]:
%%sql
select distinct on (hosp.patients.subject_id) hosp.patients.subject_id,hosp.admissions.hadm_id,hosp.patients.dod
from hosp.patients
join hosp.admissions on hosp.patients.subject_id=hosp.admissions.subject_id
where dod is not null
order by hosp.patients.subject_id,hosp.admissions.admittime

**Intermediate q2**

In [63]:
%%sql
select DATE_TRUNC('second',AVG(TO_TIMESTAMP(dischtime, 'YYYY-MM-DD HH24:MI:SS')-TO_TIMESTAMP(admittime, 'YYYY-MM-DD HH24:MI:SS'))) as avg_duration --date trunc was used to remove  decimal precision in seconds
from hosp.admissions join hosp.patients on hosp.admissions.subject_id=hosp.patients.subject_id
where dischtime is not null and 
hosp.admissions.subject_id in (
	select subject_id
	from hosp.diagnoses_icd
	where icd_code='4019' and icd_version='9'
)

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
1 rows affected.

[(datetime.timedelta(days=7, seconds=41603),)]

**Intermediate q3**

In [ ]:
%%sql
select caregiver_id,count(*)
from icu.chartevents
where caregiver_id is not null
group by caregiver_id

In [ ]:
%%sql
select caregiver_id,count(*)
from icu.datetimeevents
where caregiver_id is not null
group by caregiver_id

In [ ]:
%%sql
select caregiver_id,count(*)
from icu.procedureevents
where caregiver_id is not null
group by caregiver_id

In [ ]:
%%sql
with pe as (
	select caregiver_id,count(*)
	from icu.procedureevents
	where caregiver_id is not null
	group by caregiver_id
)
,ce as (
	select caregiver_id,count(*)
	from icu.chartevents
	where caregiver_id is not null
	group by caregiver_id
)
,dte as (
	select caregiver_id,count(*)
	from icu.datetimeevents
	where caregiver_id is not null
	group by caregiver_id
)
select icu.caregiver.caregiver_id,COALESCE(pe.count,0) as procedureevents_count,COALESCE(ce.count,0) as chartevents_count,COALESCE(dte.count,0) as datetimeevents_count
from icu.caregiver left outer join pe on icu.caregiver.caregiver_id=pe.caregiver_id left outer join dte on icu.caregiver.caregiver_id=dte.caregiver_id left outer join ce on icu.caregiver.caregiver_id=ce.caregiver_id
order by icu.caregiver.caregiver_id,procedureevents_count,chartevents_count,datetimeevents_count

**Intermediate q4**

In [104]:
%%sql
select hosp.diagnoses_icd.subject_id,count(distinct hosp.admissions.hadm_id) as count_admissions,substring(admittime,1,4) as year
from hosp.d_icd_diagnoses join hosp.diagnoses_icd on hosp.d_icd_diagnoses.icd_code=hosp.diagnoses_icd.icd_code and hosp.d_icd_diagnoses.icd_version=hosp.diagnoses_icd.icd_version join hosp.admissions on hosp.diagnoses_icd.hadm_id=hosp.admissions.hadm_id
where long_title ILIKE '%infection%'
group by hosp.diagnoses_icd.subject_id,year
having count(distinct hosp.admissions.hadm_id)>1
order by year,count_admissions desc

 * postgresql://postgres:***@localhost:5432/ass1_db_v1
16 rows affected.

[(10035631, 3, '2112'),
 (10021487, 4, '2117'),
 (10018081, 2, '2134'),
 (10003400, 2, '2137'),
 (10005866, 4, '2149'),
 (10019003, 3, '2155'),
 (10002428, 3, '2156'),
 (10001217, 2, '2157'),
 (10015931, 2, '2176'),
 (10037928, 2, '2178'),
 (10016742, 2, '2178'),
 (10037928, 2, '2179'),
 (10000032, 3, '2180'),
 (10015860, 2, '2192'),
 (10002930, 2, '2193'),
 (10002930, 3, '2197')]